.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.container-fluid .container-lg {
  margin: 0 auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.heading-content h1 .span-block {
  opacity: 0;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.bottom_content {
  opacity: 0;
  max-width: 50%;
}

.loading {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
}

.loading .loding_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.loading .loding_container .logo-div {
  padding: 0;
  margin: 0;
  height: 78px;
  width: 78px;
  position: absolute;
}

.loading .loding_container .logo-div .logo_link {
  padding: 0;
  margin: 0;
  background-color: #ed5c37;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 78px;
}

.menubar-header .header-div .logo-div {
  opacity: 0;
}

.banner-section {
  position: relative;
}

.banner-section .banner-div .content-div {
  padding: 100px 120px;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail {
  padding-left: 120px;
}

.branding-section {
  padding-left: 120px;
  padding-right: 120px;
}

.branding-section .branding-div {
  padding-left: 0px;
  padding-right: 0px;
}

.committed-section {
  padding-left: 120px;
  padding-right: 120px;
}

.committed-section .committed-div {
  padding-left: 0px;
  padding-right: 0px;
}

.inner-page .creative-agency-section {
  padding: 115px 0 0px 0;
}

.inner-page .creative-agency-section .creative-agency-inner {
  padding-left: 120px;
}

.slides .slide {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides .slide .slide_inner img {
  max-width: 100%;
}

.slides .slide .slide_inner video {
  max-width: 100%;
}

.inner-page .aboutus-value-section {
  padding: 130px 80px 100px 120px;
}

body .slides .slide video {
  width: 100%;
}

body .new-project {
  background-color: transparent;
  border-left: 0.3px solid rgba(0, 0, 0, 0.5);
}

body .new-project .new-project-link-middle .transform-link {
  color: rgba(0, 0, 0, 0.8);
}

body .inner-page .menubar-header {
  background-color: transparent;
  border-right: 0.3px solid rgba(0, 0, 0, 0.5);
}

body .line-1 {
  background-color: transparent;
}

body.slideActivate[slide-theme=dark] .banner-section .banner-div .content-div h1 {
  color: #fff;
}

body.slideActivate[slide-theme=dark] .banner-section .banner-div .content-div a {
  color: #fff;
}

body.slideActivate[slide-theme=dark] .bottom_content p {
  color: #fff;
}

body.slideActivate[slide-theme=dark] .mouse-icon {
  background-color: #fff;
}

body.slideActivate[slide-theme=dark] .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail h1 {
  color: #ffffff;
}

body.slideActivate[slide-theme=dark] .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail .view-allprojects a {
  color: #ffffff !important;
}

body.slideActivate[slide-theme=dark] .menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill,
body.slideActivate[slide-theme=dark] .new-project .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  background-color: white;
}

body.slideActivate[slide-theme=dark] .menubar-header .new-project-link-middle .transform-link,
body.slideActivate[slide-theme=dark] .new-project .new-project-link-middle .transform-link {
  color: rgba(255, 255, 255, 0.8);
}

body.slideActivate[slide-theme=dark] .arrow-right-circle {
  background-color: rgba(255, 255, 255, 0.8);
}

body.slideActivate .line-1 {
  opacity: 0;
}

body[theme=dark] .menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill,
body[theme=dark] .new-project .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  background-color: white;
}

body[theme=dark] .menubar-header .header-div .header-work-text a,
body[theme=dark] .new-project .header-div .header-work-text a {
  color: #Fff;
}

body[theme=dark] .menubar-header .new-project-link-middle .transform-link,
body[theme=dark] .new-project .new-project-link-middle .transform-link {
  color: rgba(255, 255, 255, 0.8);
}

body[theme=dark] .arrow-right-circle {
  background-color: rgba(255, 255, 255, 0.8);
}

.services-section .services-div.container-lg-2 {
  padding-left: 120px;
  padding-right: 120px;
}

.project-view-section {
  padding: 100px 0px;
}

.project-view-section .project-view-div.container-lg-2 {
  padding-left: 120px;
  padding-right: 120px;
}

.start-new-project::after {
  content: unset;
}

.footer-root {
  padding: 140px 0 40px 0;
  height: 100vh;
}

.case-study-section {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.case-study-section .case-study-div {
  padding: 100px 120px;
}

.case-study-section .case-study-div .slider-tab-fixed {
  opacity: 0;
  top: 560px;
}

.case-study-section .case-study-div .case-study-root .case-study-banner .scroll-btn-div {
  -webkit-transform: translate3d(0px, -500px, 0px);
          transform: translate3d(0px, -500px, 0px);
  opacity: 0;
}

.button-common-div {
  padding: 0;
  margin-left: 0px;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.button-common-div .btn-common {
  padding: 10px 25px 10px 25px;
  margin: 0;
  font-size: 24px;
  color: #727272;
  height: 60px;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  line-height: 36px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  background-color: transparent;
}

.button-common-div .btn-common.btn-black:hover .btn-background {
  background-color: #fff;
}

.button-common-div .btn-common.btn-black:hover .transform-text {
  color: #fff;
}

.button-common-div .btn-common.btn-black .btn-background {
  background-color: #000;
}

.button-common-div .btn-common.btn-black .arrow-right-circle {
  background-color: #000;
}

.button-common-div .btn-common.btn-white .transform-text {
  color: #fff;
}

.button-common-div .btn-common.btn-white .btn-background {
  background-color: #000;
}

.button-common-div .btn-common.btn-white .arrow-right-circle {
  background-color: #fff;
}

.button-common-div .btn-common.btn-white:hover .btn-background {
  background-color: #000;
}

.button-common-div .btn-common.btn-white:hover .transform-text {
  color: #000;
}

.button-common-div .btn-common:hover .btn-background {
  -webkit-clip-path: circle(12% at 90% 50%);
          clip-path: circle(12% at 90% 50%);
}

.button-common-div .btn-common:hover .transform-text {
  -webkit-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
}

.button-common-div .btn-common:hover .arrow-right-circle {
  opacity: 1;
  right: 7px;
}

.button-common-div .btn-common .btn-background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 40px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}

.button-common-div .btn-common .transform-text {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.button-common-div .btn-common .arrow-right-circle {
  margin: 0 0 0 25px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  position: absolute;
  right: -100px;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  top: 9px;
}

.button-common-div .btn-common:hover,
.button-common-div .btn-common:focus {
  outline: none;
  box-shadow: none;
}

#case-study-container .button-common-div {
  margin-left: auto;
}

.bodyFix {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner-welcome {
  opacity: 0;
}

.cb-menu-footer .send-message {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.cb-menu-footer .cb-social-link {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a span {
  display: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  padding-left: 60px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li {
  display: block;
  margin-bottom: 115px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link {
  opacity: 0.5;
  border: 0 solid #ffffff;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  color: #ffffff;
  letter-spacing: 1.28px;
  display: block;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 1px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link span {
  display: inline-block;
  font-weight: 100;
  padding-right: 56px;
  -webkit-text-fill-color: #fafafa !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 0;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link.active {
  opacity: 1;
  -webkit-text-fill-color: #fafafa !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 0;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li a.welcome-link.active span {
  font-weight: 100;
  font-style: normal;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.cb-menu-list ul li:last-child {
  margin-bottom: 0;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work {
  width: 100%;
  min-width: 400px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 800px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  font-size: 0;
  height: 100%;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li {
  display: inline-block;
  width: 120px;
  height: 100%;
  min-height: 450px;
  padding: 20px 20px 20px 20px;
  border-left: 1px solid #99a7a8;
  z-index: 101;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li:last-child {
  border-right: 1px solid #99a7a8;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-number {
  width: 100%;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-number span {
  font-size: 60px;
  color: #727272;
  line-height: 72px;
  letter-spacing: -4.7px;
  display: block;
  margin-bottom: 15px;
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-number .work-content {
  display: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-arrow {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li .work-item .work-arrow span {
  background-color: #eff5f7;
  opacity: 0.5;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active {
  width: 282px;
  background-color: #000000;
  z-index: 110;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-item {
  -webkit-box-align: start;
          align-items: flex-start;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-item .work-number span {
  color: #ed5c37;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content {
  display: block !important;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content h3 {
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 34px;
  text-decoration: underline;
  margin-bottom: 15px;
  width: 230px;
  word-break: break-word;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content h3 a {
  color: #ffffff;
  text-decoration: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content .work-img {
  margin-bottom: 20px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content .work-img img {
  max-height: 140px;
  width: auto;
  height: auto;
  overflow: hidden;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-content p {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: 200;
  line-height: 25px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-arrow {
  font-size: 20px;
  color: #99a7a8;
  letter-spacing: 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  overflow: hidden;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-arrow a {
  color: #ffffff;
  font-weight: 200;
  line-height: 30px;
  white-space: nowrap;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-work ul li.active .work-arrow span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy {
  width: 100%;
  min-width: 400px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li {
  display: block;
  background-color: #171717;
  position: relative;
  min-height: 130px;
  margin-bottom: 4px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-menu-icon {
  height: 74px;
  width: 74px;
  left: 20px;
  top: 20px;
  position: absolute;
  background-color: #8f8f8f;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content {
  padding: 20px 20px 30px 125px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content h3 {
  font-size: 32px;
  color: #727272;
  letter-spacing: 0.89px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p {
  font-size: 19px;
  color: #727272;
  letter-spacing: 0.5px;
  width: 40%;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 200;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p span {
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p a {
  display: inline-block;
  font-size: 18.05px;
  color: #727272;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #727272;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li:hover {
  background-color: #000000;
  cursor: pointer;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li:hover .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed5c37), to(#ff7d54));
  background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li:hover .cb-content h3 {
  color: #ed5c37;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li:hover .cb-content p {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li:hover .cb-content p a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li.active {
  background-color: #000000;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li.active .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed5c37), to(#ff7d54));
  background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li.active .cb-content h3 {
  color: #ed5c37;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li.active .cb-content p {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li.active .cb-content p a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service {
  width: 100%;
  min-width: 400px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li {
  display: block;
  background-color: #171717;
  position: relative;
  min-height: 130px;
  margin-bottom: 4px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-menu-icon {
  height: 74px;
  width: 74px;
  left: 20px;
  top: 20px;
  position: absolute;
  background-color: #8f8f8f;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content {
  padding: 20px 20px 30px 125px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content h3 {
  font-size: 32px;
  color: #727272;
  letter-spacing: 0.89px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p {
  font-size: 19px;
  color: #727272;
  letter-spacing: 0.5px;
  width: 40%;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 200;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p span {
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p a {
  display: inline-block;
  font-size: 18.05px;
  color: #727272;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #727272;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li:hover {
  background-color: #000000;
  cursor: pointer;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li:hover .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed5c37), to(#ff7d54));
  background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li:hover .cb-content h3 {
  color: #ed5c37;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li:hover .cb-content p {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li:hover .cb-content p a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li.active {
  background-color: #000000;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li.active .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed5c37), to(#ff7d54));
  background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li.active .cb-content h3 {
  color: #ed5c37;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li.active .cb-content p {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li.active .cb-content p a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.sidenav {
  opacity: 1;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sidenav .closeSubNav {
  position: absolute;
  top: 0;
  height: 24px;
  width: 24px;
  right: 30px;
  font-size: 50px;
  margin-left: 50px;
  z-index: 112;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  z-index: 130;
  position: fixed;
  right: 46px;
}

.sidenav .closeSubNav img {
  width: 100%;
}

.sidenav:after {
  opacity: 0;
}

.cb-menu-inner-welcome #cb-menu-option-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-align: start;
          align-items: flex-start;
  max-height: 640px;
  overflow: hidden;
}

.cb-menu-inner-welcome #cb-menu-option-inner .scroll-content {
  width: 100%;
}

.start-new-project {
  opacity: 0;
  -webkit-transition: 0s;
  transition: 0s;
}

.start-new-project .project-form .project-inner {
  opacity: 0;
}

.start-new-project .project-form .project-inner .form-group.error .form-control {
  border: 1px solid #fff;
}

.start-new-project .project-form .project-inner .form-group.error .help-block {
  position: absolute;
  bottom: 10px;
  color: #fff;
}

.start-new-project .project-form .project-inner .form-group .form-control option {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.container-lg {
  max-width: auto;
}

.inner-page .scope-of-work-section .scope-of-work-inner {
  padding-left: 120px;
  padding-right: 80px;
}

.inner-page .our-challanges-section {
  padding: 115px 0 115px 0;
}

.inner-page .our-challanges-section .our-challanges-inner {
  padding-left: 120px;
  padding-right: 80px;
}

.project-view-section {
  padding: 115px 0 115px 0;
}

.project-view-section .project-view-div {
  padding-left: 120px;
  padding-right: 80px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame {
  max-width: 800px;
  max-height: 650px;
  margin-right: 60px;
  padding-right: 0;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame img {
  width: 100%;
  height: 100%;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame .mac-frame-inner {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 800px;
  max-height: 440px;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: -1;
  border-radius: 104px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame .mac-frame-inner img {
  margin-top: 0;
  width: 100%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  border-radius: 0px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame:hover {
  cursor: pointer;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mac-frame:hover .mac-frame-inner img {
  margin-top: -500px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  overflow: hidden;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img {
  max-width: 800px;
  max-height: 650px;
  margin-right: 60px;
  padding-right: 0;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img img {
  width: 100%;
  height: 100%;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img .mac-frame-inner {
  position: absolute;
  left: auto;
  top: 10;
  max-width: 330px;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: -1;
  border-radius: 104px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img .mac-frame-inner img {
  margin-top: 0;
  width: 100%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  border-radius: 0px;
  height: auto;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img:hover {
  cursor: pointer;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img.mobile-mockup-img:hover .mac-frame-inner img {
  margin-top: -500px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  overflow: hidden;
}

.team-banner .banner-content-workdetail {
  padding-left: 120px;
}

.team-banner.banner-section .banner-div .content-div {
  padding: 100px 120px;
  min-height: auto;
}

.the-team-section {
  padding: 270px 80px 100px 80px;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon {
  height: 20px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li,
.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li {
  min-height: 142px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li a,
.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li a {
  text-decoration: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p,
.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p {
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li {
  width: 50%;
  float: left;
  border-right: 2px solid #000;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content {
  padding-bottom: 20px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content h3 {
  color: rgba(255, 255, 255, 0.8);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-technolgy ul li .cb-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 24px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li {
  min-height: 136px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content {
  padding-bottom: 20px;
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content h3 {
  color: rgba(255, 255, 255, 0.8);
}

.cb-menu-conatiner .cb-menu-inner-welcome .cb-menu-option .cb-submenu-service ul li .cb-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 24px;
  max-width: 70%;
}

.inner-page .menubar-header .header-div .header-work-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 115px !important;
  width: 100%;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.inner-page .menubar-header .header-div .header-work-text a {
  display: inline-block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.inner-page .menubar-header .header-div .header-work-text span {
  opacity: 0.5;
  margin: 0 10px;
  display: inline-block;
  padding: 0 0px;
  font-size: 18px;
  letter-spacing: 0;
  white-space: nowrap;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.service-details-section {
  padding: 0px 0 0 0;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.service-details-section .service-details-div .heading-div {
  max-width: 100%;
  text-align: left;
}

.service-details-section .service-details-div .heading-div p {
  margin-bottom: 15px;
}

.service-details-section .service-details-div .heading-div ul li {
  font-size: 24px;
}

.banner-section {
  overflow: hidden;
}

.banner-section img.banner-img {
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.banner-section.light .banner-div .content-div a {
  color: #fff;
}

.banner-section.light .banner-div .content-div h1 {
  color: #fff;
}

.career-link-section {
  min-height: 100vh;
}

.interview-section {
  min-height: 100vh;
}

.font-italic {
  font-style: normal !important;
}

.services-section .services-div .services-root .services-box.services-box5 {
  border-right: 1px solid #DBDEE5;
  border-top: 1px solid #DBDEE5;
}

.services-section .services-div .services-root .services-box.services-box6 {
  border-top: 1px solid #DBDEE5;
}

.ourtechnology-section {
  padding: 0px;
}

.ourtechnology-section .technology-section-inner {
  padding: 100px 120px;
}

.service-details-section {
  padding: 0px;
}

.service-details-section .service-details-div {
  padding: 100px 120px;
}

.hire-developer {
  padding: 0px;
}

.hire-developer .hire-developer-content {
  padding: 100px 120px;
}

.the-team-section {
  padding: 0px;
}

.the-team-section .the-team-div {
  padding: 100px 120px;
}

.inner-page .tech-detail-section {
  padding: 0px;
}

.inner-page .tech-detail-section .tech-detail-inner {
  padding: 100px 120px;
}

.related-project-section {
  padding: 0px;
  background-color: #FAFAFA;
  background-image: none;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.related-project-section .related-project-div {
  padding: 100px 120px;
}

#pinContainer #slideContainer {
  width: 100%;
}

#pinContainer #slideContainer .panel {
  width: 100%;
}

.project-container-main .owl-carousel .owl-stage {
  padding-left: 0px !important;
}

.project-container-main .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
}

.project-container-main .owl-carousel .owl-nav button.owl-next,
.project-container-main .owl-carousel .owl-nav button.owl-prev {
  display: inline-block;
  height: 100%;
  width: 50%;
}

.project-container-main .owl-dots {
  z-index: 99;
  left: 185px;
  bottom: 83px;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.project-container-main .owl-dots {
  counter-reset: dots;
}

.project-container-main .owl-dot:before {
  counter-increment: dots;
  content: counter(dots);
  font-size: 24px;
  color: #727272;
  text-decoration: none;
  width: 25px;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-container-main .owl-carousel button.owl-dot {
  height: 20px;
  width: 20px;
  margin: 0 20px !important;
  position: relative;
}

.project-container-main .owl-carousel button.owl-dot.active:before {
  color: #000;
  display: block;
}

.project-container-main .owl-carousel button.owl-dot.active:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #ed5c37;
  bottom: -22px;
  left: 2.5px;
}

.project-container-main .project-menu::after {
  display: none;
}

.banner-workdetail-page.banner-section {
  overflow: visible;
}

.banner-workdetail-page.banner-section .banner-div .content-div p {
  width: 60%;
  color: #fff;
}

/* With a non-custom fallback: */

.banner-section {
  cursor: url(/images/cursor.svg?e13229951741e9919e00cd5e7b5bf35f), move;
}

a:hover {
  cursor: url(/images/cursor.svg?e13229951741e9919e00cd5e7b5bf35f) 0 0, pointer;
}

.technology-section {
  padding: 80px 0;
}

button:focus {
  outline: 0px none;
}

.aboutus-value-section .heading-div h2 {
  color: #181818;
}

.services-section .services-div .services-root .services-box .services-content h4 {
  font-size: 24px;
}

.services-section .services-div .services-root .services-box .services-content p {
  font-size: 20px;
}

.ourtechnology-section .our-technology-listing .technology-box a .hover-description p {
  font-size: 18px;
  line-height: 24px;
}

.gray_bg {
  background-color: #FAFAFA;
}

.project-view-section .all-workslider .all-wrok-box {
  background-color: #fff;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.mobile {
  display: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.desktop {
  display: -webkit-box;
  display: flex;
}

@media screen and (max-width: 1600px) {
  .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
    font-size: 90px;
  }

  .cb-menu-conatiner .cb-menu-inner-welcome {
    padding: 60px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .menubar-header .header-div {
    background-color: transparent;
  }

  .header-work-text.long-text {
    display: none;
    opacity: 0;
  }

  .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.desktop {
    display: none;
  }

  .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu.mobile {
    display: -webkit-box;
    display: flex;
  }

  .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
    font-size: 40px;
  }

  .cb-menu-conatiner .cb-menu-footer {
    display: none;
  }

  .menubar-header .new-project-link-middle .transform-link,
  .new-project .new-project-link-middle .transform-link {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .arrow-right-circle {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .inner-page .banner-workdetail-page .banner-div .content-div {
    padding-top: 50px;
  }

  .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail h1 {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  .inner-page .banner-workdetail-page .banner-div .banner-img-right {
    display: none;
  }

  .inner-page .tech-detail-section .tech-detail-inner {
    padding: 30px 15px;
  }

  .inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h2 {
    font-size: 3rem;
  }

  .inner-page .tech-detail-section::before {
    left: 0;
  }

  .inner-page .scope-of-work-section {
    padding: 30px 0 30px 0;
  }

  .inner-page .scope-of-work-section .scope-of-work-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 {
    font-size: 3rem;
  }

  .inner-page .creative-agency-section {
    padding: 30px 0 0px 0;
  }

  .inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h4 {
    width: 100%;
  }

  .inner-page .banner-workdetail-page .banner-div .banner-content-workdetail {
    display: none;
  }

  .inner-page .our-challanges-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .inner-page .our-challanges-section .our-challanges-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .related-project-section {
    min-height: auto;
  }

  .related-project-section .related-project-div {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  body .new-project {
    background-color: #000;
    color: #FFF;
  }

  .banner-section .banner-div .content-div {
    padding: 0;
    margin-top: 80px;
  }

  .banner-section .banner-div .content-div h1 {
    font-size: 3rem;
  }

  .banner-section .banner-div .bottom_content {
    max-width: 100%;
  }

  .ourtechnology-section .technology-section-inner {
    padding: 0;
  }

  .ourtechnology-section .technology-section-inner .heading-div h2 {
    font-size: 3rem;
  }

  .ourtechnology-section .our-technology-listing {
    -webkit-box-pack: center;
            justify-content: center;
  }

  .ourtechnology-section .our-technology-listing .technology-box {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .project-container-main .container-lg-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .project-container-main .project-two .squre-shape {
    display: none;
  }

  .project-container-main .project-menu .img-menu {
    display: none;
  }

  .hire-developer {
    background-image: none;
  }

  .hire-developer .hire-developer-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hire-developer .hire-developer-content p {
    color: #fff;
    width: 100%;
  }

  .hire-developer .hire-developer-content h3 {
    font-size: 54px;
    line-height: 62px;
  }

  .testimonial-section {
    padding: 0px;
    padding-top: 30px;
  }

  .testimonial-section .testimonial-inner .testimonial-content {
    padding-right: 0;
  }

  .testimonial-section .testimonial-inner .testimonial-content .quote-img {
    display: none;
  }

  .testimonial-section .testimonial-inner .owl-nav {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .project-view-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .project-view-section .project-view-div {
    padding-right: 15px;
    padding-left: 15px;
  }

  .project-view-section .project-view-div .heading-section h2 {
    font-size: 3rem;
  }

  .project-view-section .all-workslider .work-tabs .nav-tabs li {
    margin-bottom: 10px;
  }

  .related-project-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .related-project-section .related-project-div {
    padding-right: 15px;
    padding-left: 15px;
  }

  .related-project-section .related-project-div .heading-div h2 {
    font-size: 3rem;
  }

  .related-project-section .related-project-div .project-item-box-root .img-thumb-banner .img-project-banner {
    height: auto;
  }

  .related-project-section .related-project-div .project-item-box-root .project-content {
    padding: 0;
  }

  .services-section .services-div.container-lg-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .services-section .services-div .heading-div h2 {
    font-size: 3rem;
  }

  .services-section .services-div .services-root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .services-section .services-div .services-root .services-box {
    width: 100%;
    max-width: 100%;
    border: 0px solid !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    margin-bottom: 20px;
    -webkit-box-align: center;
            align-items: center;
  }

  .services-section .services-div .services-root .services-box > a {
    max-width: 75px;
  }

  .services-section .services-div .services-root .services-box .services-content {
    text-align: center;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    width: 100%;
  }

  .footer-root {
    padding: 50px 0 40px 0;
    height: auto;
    padding-bottom: 100px;
  }

  .footer-root .messages-text-heading h3 {
    font-size: 3rem;
  }

  .footer-root .footer-inner .button-row {
    margin: 0 0 22px 0;
  }

  .footer-root .footer-inner .container-lg-2 {
    padding: 0px;
  }

  .footer-root .footer-inner .info-link-footer-div .footer-link {
    margin: 0px 0 0 0;
  }

  .footer-root .footer-inner .info-link-footer-div .footer-link ul {
    margin: 10px 0 0 0;
  }

  .footer-root .footer-inner .bottom-footer-div .messages-bottom-div {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .footer-root .footer-inner .bottom-footer-div .messages-bottom-div p {
    font-size: 18px;
    margin: 18px 6px 10px 6px !important;
  }

  .team-banner.banner-section .banner-div .content-div {
    padding: 30px 15px;
  }

  .about-us-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us-section .about-us-div {
    padding-right: 15px;
    padding-left: 15px;
  }

  .about-us-section .about-us-div .heading-div h2 {
    font-size: 3rem;
  }

  .committed-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .committed-section .committed-root h2 {
    font-size: 3rem;
  }

  .inner-page .aboutus-value-section {
    padding-right: 15px;
    padding-left: 15px;
  }

  .aboutus-value-section .heading-div h2 {
    font-size: 3rem;
  }

  .inner-page .creative-agency-section .creative-agency-inner {
    padding-right: 15px;
    padding-left: 15px;
  }

  .inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h2 {
    font-size: 3rem;
  }

  .service-details-section .service-details-div {
    padding: 30px 15px;
  }

  .service-details-section .service-details-div .heading-div h2 {
    font-size: 3rem;
  }

  .project-form .project-inner {
    margin-top: 100px;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }

  .project-form .project-inner .form-group {
    margin-bottom: 15px;
  }

  .project-form .project-inner .form-group.error .help-block {
    display: none;
  }

  .project-form .project-inner .form-heaeding h3 {
    letter-spacing: 1.6px;
    margin-bottom: 20px;
  }
}

