.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;

  // padding: 0 80px;

  .container-lg {
    margin: 0 auto;
  }
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.heading-content {
  h1 {
    .span-block {
      opacity: 0;
      transform: translate(0, 20%);
    }
  }
}
.bottom_content {
  opacity: 0;
  max-width: 50%;
}

.loading {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #fff;

  .loding_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .logo-div {
      padding: 0;
      margin: 0;
      height: 78px;
      width: 78px;
      position: absolute;
      .logo_link {
        padding: 0;
        margin: 0;
        background-color: #ed5c37;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78px;
      }
    }
  }
}

.menubar-header .header-div .logo-div {
  opacity: 0;
}
.banner-section {
  position: relative;
  .banner-div {
    .content-div {
      padding: 100px 120px;
    }
  }
}
.inner-page {
  .banner-workdetail-page {
    .banner-div {
      .banner-content-workdetail {
        padding-left: 120px;
      }
    }
  }
}
.branding-section {
  padding-left: 120px;
  padding-right: 120px;
  .branding-div {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.committed-section {
  padding-left: 120px;
  padding-right: 120px;
  .committed-div {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.the-team-section {
  .the-team-div {
    // padding-left: 60px;
  }
}

.inner-page {
  .creative-agency-section {
    padding: 115px 0 0px 0;
    .creative-agency-inner {
      padding-left: 120px;
    }
  }
}

.slides {
  .slide {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .slide_inner {
      img {
        max-width: 100%;
      }
      video {
        max-width: 100%;
      }
    }
    &.slide1 {
    }
  }
}

.inner-page {
  .banner-workdetail-page{
    .banner-div{
      .content-div{
        // .heading-workdetail{
        //   h1{
        //     color: #fff;
        //   }
        //   .view-allprojects a, p, p a {
        //     color: #000;
        //   }
        // }
      }
      // .banner-content-workdetail {
      //   p a{
      //     color: #000;
      //   }
      // }
    }
  }
}
   
// .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail .view-allprojects a {
//   color: #000 !important;
// }
.inner-page .aboutus-value-section {
  padding: 130px 80px 100px 120px;
}

body {
  .slides {
    .slide{
      video{
        width: 100%;
      }
    }
  }
  .new-project{
    background-color: transparent;
    border-left: 0.3px solid rgba(0, 0, 0, 0.5);
    .new-project-link-middle {
      .transform-link{
        color:rgba(0, 0, 0, 0.8);
      }
    }
  }
  .inner-page {
    .menubar-header{
      background-color: transparent;
      border-right: 0.3px solid rgba(0, 0, 0, 0.5);
    }
  }
  .line-1{
    background-color: transparent;
  }
  &.slideActivate {
    &[slide-theme="dark"] {
      .banner-section .banner-div .content-div h1 {
        color: #fff;
      }
      .banner-section .banner-div .content-div a {
        color: #fff;
      }
      .bottom_content p {
        color: #fff;
      }

      .mouse-icon {
        background-color: #fff;
      }

      .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail h1 {
        color: #ffffff;
      }
      .inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail .view-allprojects a {
        color: #ffffff !important;
      }

      .menubar-header,
      .new-project {
        // background-color: rgba(0, 0, 0, 0.1);
        .header-div {
          .nav-center-div {
            .nav-m-bar {
              .menu-icon {
                .bar {
                  .fill {
                    background-color: white;
                  }
                }
              }
            }
          }
        }
        .new-project-link-middle {
          .transform-link{
            color:rgba(255, 255, 255, 0.8);
          }
        }
      }
      .arrow-right-circle{
        background-color: rgba(255, 255, 255, 0.8);;
      }
    }
    .line-1 {
      opacity: 0;
    }
  }
  &[theme="dark"] {
    .menubar-header,
    .new-project {
      // background-color: rgba(0, 0, 0, 0.1);
      .header-div {
        .nav-center-div {
          .nav-m-bar {
            .menu-icon {
              .bar {
                .fill {
                  background-color: white;
                }
              }
            }
          }
        }
        .header-work-text a{  
          color : #Fff;
        }
      }
      .new-project-link-middle {
        .transform-link{
          color:rgba(255, 255, 255, 0.8);
        }
      }
    }
    .arrow-right-circle{
      background-color: rgba(255, 255, 255, 0.8);;
    }

   
  }
}

.services-section{
  .services-div{
    &.container-lg-2{
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}

.project-view-section{
  padding: 100px 0px;
  .project-view-div{
    &.container-lg-2{
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}

.start-new-project::after{
  content: unset;
}


.footer-root {
  
  padding: 140px 0 40px 0;
  height: 100vh;
  // .container-fluid{
  //   display: flex;
  //   justify-content: space-between;
  //   flex-direction: column;
  //   height: 100%;
  //   .container-lg-2{
  //     padding-left: 120px;
  //     padding-right: 120px;
  //   }
  //   .bottom-footer-div{
  //     padding-top: 0px;
  //     border-top: 0px solid rgba(114, 114, 114, 0.2); 
  //     .border-top{
  //       padding-top: 40px;
  //       border-top: 1px solid rgba(114, 114, 114, 0.2);
  //     }
  //   }
  // }
  // .info-link-footer-div {
  //   .footer-link{
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: flex-end;
  //     height: 100%;
  //     margin: 0;
  //     padding-bottom: 40px;
  //     padding-top: 80px;
  //     ul{
  //       a{
  //         color: #000;
  //       }
  //     }
  //   }
  // }
  // .bottom-footer-div {
  //   .social-links-bottom {
  //     h3{
  //       padding: 0;
  //       margin: 0;
  //       font-size: 24px;
  //       font-weight: 300;
  //       color: #727272;
  //       line-height: 1.5;
  //     }
  //     ul {
  //       a{
  //         font-style: normal;
  //       }
  //     }
  //   }
  //   .messages-bottom-div {
  //     .link{
  //       color: #000;
  //     }
  //   }

  // }
    
}




.case-study-section {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  .case-study-div {
    padding: 100px 120px;
    .slider-tab-fixed {
      opacity: 0;
      top: 560px;
    }
    .case-study-root {
      .case-study-banner {
        .scroll-btn-div {
          transform: translate3d(0px, -500px, 0px);
          // right: 80px;
          opacity: 0;
          // position: fixed;
        }
      }
    }
  }
}

.button-common-div {
  padding: 0;
  margin-left: 0px;
  position: relative;
  // width: 100%;
  // max-width: 1100px;
  display: flex;
  .btn-common {
    padding: 10px 25px 10px 25px;
    margin: 0;
    font-size: 24px;
    color: #727272;
    height: 60px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    transition: all 0.8s;
    position: relative;
    background-color: transparent;

    &.btn-black {
      &:hover {
        .btn-background {
          background-color: #fff;
        }
        .transform-text {
          color: #fff;
        }
      }
      .btn-background {
        background-color: #000;
      }
      .arrow-right-circle {
        background-color: #000;
      }
    }
    &.btn-white {
      .transform-text{
        color: #fff;
      }
      .btn-background {
        background-color: #000;
      }
      .arrow-right-circle {
        background-color: #fff;
      }

      &:hover {
        .btn-background {
          background-color: #000;
        }
        .transform-text {
          color: #000;
        }
      }
     
    }

    &:hover {
      .btn-background {
        clip-path: circle(12% at 90% 50%);
      }
      .transform-text {
        transform: translate(-30px, 0px);
      }
      .arrow-right-circle {
        opacity: 1;
        right: 7px;
      }
    }
    .btn-background {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      border-radius: 40px;
      transition: all 0.8s;
      clip-path: circle(100% at 50% 50%);
    }
    .transform-text {
      position: relative;
      z-index: 1;
      transition: all 0.8s;
    }
    .arrow-right-circle {
      margin: 0 0 0 25px;
      transition: 0.8s;
      opacity: 0;
      position: absolute;
      right: -100px;
      top: 0;
      z-index: 1;
      transition: all 0.8s;
      top: 9px;
    }
    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

#case-study-container{
  .button-common-div{
    margin-left: auto;
  }
}


.bodyFix {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.cb-menu-conatiner {
  .cb-menu-inner-welcome {
    opacity: 0;
  }
}

.cb-menu-footer {
  .send-message {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  .cb-social-link {
    opacity: 0;
    transform: translate(0px, 40px);
  }
}
.cb-menu-conatiner {
  .cb-menu-inner-welcome {
    .welcome-menu {
      ul {
        li {
          a {
            transition: all 0s ease-in-out;
            span {
              display: none;
            }
          }
        }
      }
      &.cb-menu-list {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 60px;
        z-index: 99;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: block;
            a.welcome-link {
              opacity: 0.5;
              border: 0 solid #ffffff;
              font-weight: 600;
              font-size: 46px;
              line-height: 69px;
              color: #ffffff;
              letter-spacing: 1.28px;
              display: block;
              transition: all 0s ease-in-out;
              // -webkit-text-fill-color: hsla(0, 0%, 100%, 0) !important;
              // -webkit-text-stroke-color: #ffffff !important;
              // -webkit-text-stroke-width: 1px;
              &:hover {
                cursor: pointer;
                // transition: all 0.4s ease-in-out;
                opacity: 1;
                text-decoration: none;
                -webkit-text-fill-color: #ffffff !important;
                -webkit-text-stroke-color: none !important;
                -webkit-text-stroke-width: 1px;
              }
              span {
                display: inline-block;
                font-weight: 100;
                padding-right: 56px;
                -webkit-text-fill-color: #fafafa !important;
                -webkit-text-stroke-color: none !important;
                -webkit-text-stroke-width: 0;
              }
              &.active {
                opacity: 1;
                // font-style: italic;
                // transition: all 0.4s ease-in-out;
                -webkit-text-fill-color: #fafafa !important;
                -webkit-text-stroke-color: none !important;
                -webkit-text-stroke-width: 0;

                span {
                  font-weight: 100;
                  font-style: normal;
                }
              }
            }

            margin-bottom: 115px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .cb-menu-option {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      // service and technolgy css -> use  @include menu-items();
      @mixin menu-items {
        width: 100%;
        min-width: 400px;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            display: block;
            background-color: #171717;
            position: relative;
            min-height: 130px;
            margin-bottom: 4px;
            z-index: 99;
            .cb-menu-icon {
              height: 74px;
              width: 74px;
              left: 20px;
              top: 20px;
              position: absolute;
              background-color: #8f8f8f;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .cb-content {
              padding: 20px 20px 30px 125px;
              h3 {
                font-size: 32px;
                color: #727272;
                letter-spacing: 0.89px;
                text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
                margin-bottom: 10px;
                font-weight: 600;
              }

              p {
                font-size: 19px;
                color: #727272;
                letter-spacing: 0.5px;
                width: 40%;
                line-height: 27px;
                margin-bottom: 0;
                font-weight: 200;
                span {
                  font-weight: 600;
                }

                a {
                  display: inline-block;
                  font-size: 18.05px;
                  color: #727272;
                  letter-spacing: 0.5px;
                  border-bottom: 1px solid #727272;
                }
              }
            }
            &:hover {
              background-color: #000000;
              cursor: pointer;
              .cb-menu-icon {
                background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
              }
              .cb-content {
                h3 {
                  color: #ed5c37;
                }
                p {
                  color: #ffffff;

                  a {
                    color: #ffffff;
                    text-decoration: none;
                    border-color: #ffffff;
                  }
                }
              }
            }
          }

          li.active {
            background-color: #000000;
            .cb-menu-icon {
              background-image: linear-gradient(180deg, #ed5c37 0%, #ff7d54 100%);
            }
            .cb-content {
              h3 {
                color: #ed5c37;
              }
              p {
                color: #ffffff;

                a {
                  color: #ffffff;
                  text-decoration: none;
                  border-color: #ffffff;
                }
              }
            }
          }
        }
      }
      // service and technolgy css end

      .cb-submenu-work {
        width: 100%;
        min-width: 400px;
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        max-width: 800px;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          list-style-type: none;
          font-size: 0;
          height: 100%;

          position: relative;

          li {
            display: inline-block;
            width: 120px;
            height: 100%;
            min-height: 450px;
            padding: 20px 20px 20px 20px;
            border-left: 1px solid #99a7a8;
            z-index: 101;
            position: relative;
            transition: all 0.5s;
            &:last-child {
              border-right: 1px solid #99a7a8;
            }

            .work-item {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              width: 100%;
              .work-number {
                width: 100%;
                span {
                  font-size: 60px;
                  color: #727272;
                  line-height: 72px;
                  letter-spacing: -4.7px;
                  display: block;
                  margin-bottom: 15px;
                  font-family: "Bebas Neue", cursive;
                  font-weight: 600;
                }

                .work-content {
                  display: none;
                }
              }
              .work-arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  background-color: #eff5f7;
                  opacity: 0.5;
                }
              }
            }

            //   &:hover {
            //     width: 282px;
            //     background-color: #000000;
            //     z-index: 111;
            //     position: relative;
            //     cursor: pointer;
            //     .work-item {
            //       align-items: flex-start;

            //       .work-number {
            //         span {
            //           color: #ed5c37;
            //         }
            //       }
            //     }

            //     .work-content {
            //       display: block !important;
            //       h3 {
            //         font-size: 23px;
            //         color: #ffffff;
            //         letter-spacing: 0;
            //         line-height: 34px;
            //         text-decoration: underline;
            //         margin-bottom: 26px;
            //         width: 230px;
            //         word-break: break-word;
            //       }

            //       .work-img {
            //         margin-bottom: 20px;
            //         height: 240px;
            //         width: auto;
            //         position: relative;
            //         img {
            //           width: 341px;
            //           height: 240px;
            //           overflow: hidden;
            //           position: absolute;
            //           left: 0;
            //           top: 0;
            //         }
            //       }

            //       p {
            //         font-size: 16px;
            //         color: #ffffff;
            //         letter-spacing: 0;
            //         font-family: 200;
            //         line-height: 25px;
            //         margin-bottom: 10px;
            //       }
            //     }

            //     .work-arrow {
            //       font-size: 20px;
            //       color: #99a7a8;
            //       letter-spacing: 0;
            //       width: 100%;
            //       display: flex;
            //       justify-content: space-between;
            //       flex-direction: row;

            //       a {
            //         color: #ffffff;
            //         font-weight: 200;
            //         line-height: 30px;
            //         white-space: nowrap;
            //       }
            //       span {
            //         transform: rotate(180deg);
            //         transition: all 0.3s ease-in-out;
            //       }
            //     }
            //   }
          }

          li.active {
            width: 282px;
            background-color: #000000;
            z-index: 110;
            position: relative;
            .work-item {
              align-items: flex-start;

              .work-number {
                span {
                  color: #ed5c37;
                }
              }
            }

            .work-content {
              display: block !important;
              h3 {
                font-size: 23px;
                color: #ffffff;
                letter-spacing: 0;
                line-height: 34px;
                text-decoration: underline;
                margin-bottom: 15px;
                width: 230px;
                word-break: break-word;
                a{
                  color: #ffffff;
                  text-decoration: none;
                }
              }

              .work-img {
                margin-bottom: 20px;
                img {
                  max-height: 140px;
                  width: auto;
                  height: auto;
                  overflow: hidden;
                }
              }

              p {
                font-size: 16px;
                color: #ffffff;
                letter-spacing: 0;
                font-family: 200;
                line-height: 25px;
                margin-bottom: 10px;
                white-space: nowrap;
              }
            }

            .work-arrow {
              font-size: 20px;
              color: #99a7a8;
              letter-spacing: 0;
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              overflow: hidden;
              a {
                color: #ffffff;
                font-weight: 200;
                line-height: 30px;
                white-space: nowrap;
              }
              span {
                transform: rotate(180deg);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }

      .cb-submenu-technolgy {
        @include menu-items();
      }

      .cb-submenu-service {
        @include menu-items();
      }
    }
  }
}

.sidenav {
  opacity: 1;
  width: 100%;
  transform: translateX(-100%);
  .closeSubNav {
    position: absolute;
    top: 0;
    height: 24px;
    width: 24px;
    right: 30px;
    font-size: 50px;
    margin-left: 50px;
    z-index: 112;
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;

    z-index: 130;
    position: fixed;
    right: 46px;

    img {
      width: 100%;
    }
  }
  &:after {
    opacity: 0;
  }
}

.cb-menu-inner-welcome {
  #cb-menu-option-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    align-items: flex-start;
    max-height: 640px;
    overflow: hidden;
    .scroll-content{
      width: 100%;
    }
  }
}

.start-new-project {
  opacity: 0;
  transition: 0s;

  .project-form {
    .project-inner {
      opacity: 0;
      .form-group {
        &.error{
          .form-control{
            border: 1px solid #fff
          }
          .help-block{
            position: absolute;
            bottom: 10px;
            color: #fff;
          }
        }
        .form-control{
          option {
              background: rgba(0, 0, 0, 0.8);
              color: #fff;
              text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}

// .footer-root {
//   .info-link-footer-div{
//     padding: 100px 120px;
//     padding-bottom: 0;
//   }
//   .bottom-footer-div{
//     padding: 100px 120px;
//     padding-top: 0;
//   }
// }

.container-lg {
  max-width: auto;
}

.inner-page {
  .scope-of-work-section {
    .scope-of-work-inner {
      padding-left: 120px;
      padding-right: 80px;
    }
  }
  .our-challanges-section {
    padding: 115px 0 115px 0;
    .our-challanges-inner {
      padding-left: 120px;
      padding-right: 80px;
    }
  }
}
.project-view-section{
  padding: 115px 0 115px 0;
  .project-view-div{
    padding-left: 120px;
    padding-right: 80px;
  }
}

.inner-page {
  .banner-workdetail-page {
    .banner-div {
      .banner-img-right {
        .banner-work-img {
          &.mac-frame {
            max-width: 800px;
            max-height: 650px;
            // top: 160px !important;

            margin-right: 60px;
            padding-right: 0;

            img {
              width: 100%;
              height: 100%;
            }

            .mac-frame-inner {
              position: absolute;
              left: 0;
              top: 0;
              max-width: 800px;
              max-height: 440px;
              overflow: hidden;
              padding: 20px 20px 20px 20px;
              height: auto;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: -1;
              border-radius: 104px;

              img {
                margin-top: 0;
                width: 100%;
                transition: all 1.5s ease-in-out;
                border-radius: 0px;
              }
            }

            &:hover {
              cursor: pointer;
              .mac-frame-inner {
                img {
                  margin-top: -500px;
                  transition: all 1.5s ease-in-out;
                  overflow: hidden;
                }
              }
            }
          }
          &.mobile-mockup-img {
            max-width: 800px;
            max-height: 650px;
            // top: 160px !important;

            margin-right: 60px;
            padding-right: 0;

            img {
              width: 100%;
              height: 100%;
            }

            .mac-frame-inner {
              position: absolute;
              left: auto;
              top: 10;
              max-width: 330px;
              overflow: hidden;
              padding: 20px 20px 20px 20px;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              z-index: -1;
              border-radius: 104px;

              img {
                margin-top: 0;
                width: 100%;
                transition: all 1.5s ease-in-out;
                border-radius: 0px;
                height: auto;
              }
            }

            &:hover {
              cursor: pointer;
              .mac-frame-inner {
                img {
                  margin-top: -500px;
                  transition: all 1.5s ease-in-out;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}

.inner-page {
  .banner-workdetail-page {
    .banner-div {
      .banner-img-right {
        .banner-work-img {
        }
      }
    }
  }
}

.team-banner {
  .banner-content-workdetail {
    padding-left: 120px;
  }
  &.banner-section {
    .banner-div {
      .content-div {
        padding: 100px 120px;
        min-height: auto;
      }
    }
  }
}
.the-team-section {
  padding: 270px 80px 100px 80px;
}

.menubar-header {
  .header-div {
    .nav-center-div {
      .nav-m-bar {
        .menu-icon {
          height: 20px;
        }
      }
    }
  }
}
.cb-menu-conatiner 
.cb-menu-inner-welcome {
  .cb-menu-option {
    .cb-submenu-service, .cb-submenu-technolgy {
      ul {
        li {
          a {
            text-decoration: none;
          }
          min-height: 142px; 
          transition: 0.5s all;
          .cb-content {
            p {
              width: 100%;
             
              overflow: hidden;
              transition: 0.5s all;
            }
          }
          &.active,
          &:hover {
            .cb-content {
              p {
                // height: 55px;
                 
              }
            }
          }
        }
      }
    }
    .cb-submenu-technolgy{
      ul {
        li {
          width: 50%;
          float: left;
          border-right: 2px solid #000;
          // min-height: 142px !important;

          .cb-content {
            padding-bottom: 20px;
            h3{
              color: rgba(255,255,255,0.8);
            }
            p{
              color: rgba(255,255,255,0.5);
              font-size: 16px;
              line-height: 24px;
            }
          }

        }
      }
    }
    .cb-submenu-service{
      ul {
        li {
          // width: 50%;
          // float: left;
          // border-right: 2px solid #000;
          // min-height: 142px !important;
          min-height: 136px;
          .cb-content {
            padding-bottom: 20px;
            h3{
              color: rgba(255,255,255,0.8);
            }
            p{
              color: rgba(255,255,255,0.5);
              font-size: 16px;
              line-height: 24px;
              max-width: 70%;
            }
          }
        }
      }
    }
  }
}

.inner-page {
  .menubar-header {
    .header-div {
      .header-work-text {
        transform: rotate(-90deg);
        top: 115px !important;
        width: 100%;
        justify-content: flex-end;
        a {
          display: inline-block;
          transform: rotate(0deg);
        }
        span {
          opacity: 0.5;
          margin: 0 10px;
          display: inline-block;
          padding: 0 0px;
          font-size: 18px;
          letter-spacing: 0;
          white-space: nowrap;
          transform: rotate(0deg);
        }
      }
    }
  }
}

.service-details-section {
  padding: 0px 0 0 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .service-details-div {
    .heading-div{
      max-width: 100%;
      text-align: left;
      p{
        margin-bottom: 15px;
        
      }
      ul{
        li{
          font-size: 24px;
        }
      }
    }
  }
}
.banner-section {
  overflow: hidden;
  img {
    &.banner-img {
      opacity: 1;
      transition: 0.5s all;
      // transform: scale(1.5);
    }
  }
  .banner-div {
    .content-div {
      a {
        // font-size: 40px;
      }
    }
  }
  &.light {
    .banner-div {
      .content-div {
        a {
          color: #fff;
        }
        h1 {
          color: #fff;
        }
      }
    }
  }
}

.career-link-section {
  min-height: 100vh;
}
.interview-section {
  min-height: 100vh;
}

.font-italic {
  font-style: normal !important;
}


.services-section {
  .services-div {
    .services-root {
      .services-box{
        &.services-box5 {
          border-right: 1px solid #DBDEE5;
          border-top: 1px solid #DBDEE5;
        }
        &.services-box6 {
          border-top: 1px solid #DBDEE5;
        }
      }
    }
  }
}


.ourtechnology-section{
  padding: 0px;
  .technology-section-inner {
      padding: 100px 120px;
  }
}

.service-details-section{
  padding: 0px;
  .service-details-div{
    padding: 100px 120px;
  }
}
.hire-developer{
  padding: 0px;
  .hire-developer-content{
    padding: 100px 120px;
  }
}
.the-team-section{
  padding: 0px;
  .the-team-div{
    padding: 100px 120px;
  }
}

.inner-page  {
  .tech-detail-section{
    padding: 0px;
    .tech-detail-inner{
      padding: 100px 120px; 
    }
  }
}


.related-project-section{
  padding: 0px;
  background-color: #FAFAFA;
  background-image: none;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .related-project-div{
    padding: 100px 120px;
  }
}

#pinContainer{
  #slideContainer{
    width: 100%;
    .panel {
      width: 100%;

      
    }
    
  }
}

.project-container-main{
  .owl-carousel{
    .owl-stage{
      padding-left: 0px !important;
    }
  }
  .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
  }
  .owl-carousel .owl-nav button.owl-next, 
  .owl-carousel .owl-nav button.owl-prev {
    display: inline-block;height: 100%;width: 50%;
  }
  .owl-dots {
    z-index: 99;
    left: 185px;
    bottom: 83px;
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .owl-dots {
    counter-reset: dots;
  }
  .owl-dot:before {
      counter-increment:dots;
      content: counter(dots);
      font-size: 24px;
      
      color: #727272;
      text-decoration: none;

      width: 25px;
      display: inline-block;
      text-align: center;
      margin: 0;
      padding: 0;

  }
  .owl-carousel button.owl-dot {
    height: 20px;
    width: 20px;
    // border: 1px solid;
    margin: 0 20px !important;
    // background-color: #000;
    position: relative;

    &.active {
      &:before {
        color: #000;
        // width: 15px;
        display: block;
      }
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 4px;
        background-color: #ed5c37;
        bottom: -22px;
        left: 2.5px;
    }
        // background-color: #ed5c37;
    }
  }
}
.project-container-main .project-menu::after{
  display: none;
}


.banner-workdetail-page {
  
  &.banner-section {
    overflow: visible;
    .banner-div {
      .content-div {
         p{
           width: 60%;
           color: #fff;
         }
      }
    }
  }
}

// .custom-cur {
//   cursor: url('/images/chef.svg');
// }

// /* With a .cur fallback */
// .custom-cur {
//   cursor: url('/images/chef.svg'),
//   url('/images/chef.cur');
// }

// /* With a custom hotspot */
// .custom-cur {
//   cursor: url('/images/chef.svg') 10 12;
// }

/* With a non-custom fallback: */
.banner-section {
  cursor: url('../images/cursor.svg'),
  move;
}
a:hover {
  cursor: url('../images/cursor.svg') 0 0,
  pointer;
}

.technology-section{
  padding: 80px 0;
}

button:focus {
  outline: 0px none;
}

.aboutus-value-section{
  
  .heading-div{
    h2{
      color: #181818
    }
  }
}

.services-section {
  .services-div {
    .services-root {
      .services-box {
        .services-content {
          h4{
            font-size: 24px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.ourtechnology-section {
  .our-technology-listing {
    .technology-box {
      a {
        .hover-description {
          p{
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}


.gray_bg{
  background-color: #FAFAFA;
}
.project-view-section {
  .all-workslider {
    .all-wrok-box{
      background-color: #fff;
    }
  }
}

.cb-menu-conatiner {
  .cb-menu-inner-welcome {
    .welcome-menu {
      &.mobile{
        display:none;
      }
      &.desktop{
        display:flex;
      }
    }
    
  }
} 

@media screen and (max-width: 1600px) {
  .cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
    font-size: 90px;
  }
  .cb-menu-conatiner .cb-menu-inner-welcome {
    padding: 60px 0 0 0;
  }
}

@media screen and (max-width: 767px) {

  .menubar-header {
    .header-div{
      background-color: transparent;
    }
  }
  .header-work-text.long-text {
      display: none;
      opacity: 0;
  }
  .cb-menu-conatiner {
    .cb-menu-inner-welcome {
      
      .welcome-menu {
        &.desktop{
          display:none;
        }
        &.mobile{
          display: flex;
        }

        ul {
          li {
            a {
                font-size: 40px;
            }
          }
        }
      }
      
    }
    .cb-menu-footer{
      display:none;
    }
  }
  .menubar-header .new-project-link-middle .transform-link, 
  .new-project .new-project-link-middle .transform-link {
      color: rgba(255, 255, 255, 0.8) !important;
  }
  .arrow-right-circle {
    background-color: rgba(255, 255, 255, 0.8) !important;;
}

.inner-page {
  .banner-workdetail-page {
    .banner-div {
      .content-div{
        padding-top: 50px;
        .heading-workdetail {
          h1 {
            width: 100%;
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
      .banner-img-right{
        display:none;
      }
    }
  }
  .tech-detail-section {
    .tech-detail-inner{
      padding: 30px 15px;
      .tech-detail-heading {
        h2{
          font-size: 3rem;
        }
      }
    }
    &::before{
      left: 0;
    }
  }
  .scope-of-work-section {
    padding: 30px 0 30px 0;
    .scope-of-work-inner {
      padding-left: 15px;
      padding-right: 15px;
      .scope-of-work-heading {
        h2{
          font-size: 3rem;
        }
      }
    }
  }

  .creative-agency-section {
    padding: 30px 0 0px 0;
    .creative-agency-inner {
      .creative-agency-heading {
        h4{
          width: 100%;
        }
      }
    }
  }

  .banner-workdetail-page {
    .banner-div {
      .banner-content-workdetail{
        display:none;
      }
    }
  }
 
  .our-challanges-section {
    padding-top:30px;
    padding-bottom:30px;
    .our-challanges-inner{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.related-project-section{
  min-height: auto;
  .related-project-div{
    padding-top:30px;
    padding-bottom:30px;
  }
}
  

  body {
    .new-project {
        background-color: #000;
        color:#FFF; 
    }
  }
  .banner-section {
    // margin-top: 80px;
    .banner-div {
      .content-div {
        padding: 0;
        margin-top: 80px;
        h1{
          font-size: 3rem;
        }
      }
      .bottom_content{
        max-width: 100%;
      }
    }
  }
  .ourtechnology-section {
    .technology-section-inner{
      padding: 0;
      .heading-div {
        h2{
          font-size: 3rem;
        }
      }
    }
    .our-technology-listing {
      justify-content: center;
      .technology-box{
        width:100%;
        max-width:300px;
        margin-bottom: 20px;
      }
    }
  } 

  .project-container-main {
    .container-lg-2 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .project-two {
      .squre-shape{
        display:none;
      }
    }
    .project-menu {
      .img-menu{
        display:none;
      }
    }
  }
  .hire-developer {
    background-image:none;
    .hire-developer-content {
      padding-right: 15px;
      padding-left: 15px;
      padding-top:30px;
      padding-bottom:30px;
      p {
        color: #fff;
        width: 100%; 
      }
      h3{
        font-size: 54px;
        line-height: 62px;
      }
    }
  }
  .testimonial-section{
    padding:0px;
    padding-top: 30px;
    .testimonial-inner {
      .testimonial-content {
        padding-right: 0;
        .quote-img{
          display:none;
        }
      }
      .owl-nav{
        margin-top: 0;
        padding-left: 0;
        margin-bottom:20px;
      }
    }
  }
  .project-view-section {
    padding-top: 30px;
    padding-bottom: 30px;
    .project-view-div {
      padding-right: 15px;
      padding-left: 15px;
      .heading-section {
        h2{
          font-size: 3rem;
        }
      }
    }
    .all-workslider {
      .work-tabs {
        .nav-tabs {
          li{
            margin-bottom:10px;
          }
        }
      }
    }
  }
  .related-project-section {
    padding-top: 30px;
    padding-bottom: 30px;
    .related-project-div{
      padding-right: 15px;
      padding-left: 15px;
      .heading-div {
        h2{
          font-size: 3rem;
        }
      }
      .project-item-box-root {
        .img-thumb-banner {
          .img-project-banner{
            height: auto; 
          }
        }
        .project-content{
          padding: 0;
        }
      }
    }
  }
 
  .services-section {
    .services-div.container-lg-2 {
      padding-right: 15px;
    padding-left: 15px;
    }
    .services-div {
      .heading-div {
        h2{
          font-size: 3rem;
        }
      }
      .services-root {
        flex-direction: column;
        .services-box{
          width: 100%;
          max-width: 100%;
          border: 0px solid !important;
          flex-direction: column;
          flex: 0 0 100%;
          margin-bottom: 20px;
          align-items: center;
          >a{
            max-width: 75px;
          }
         .services-content {           
            text-align: center;
            margin-top: 10px;
            padding: 0 20px 0 20px;
            width: 100%;
          }
        }
      }
    }
  }
  .footer-root { 
    padding: 50px 0 40px 0;
    height: auto;
    padding-bottom: 100px;
    .messages-text-heading {
      h3{
        font-size: 3rem;
      }
    }
    .footer-inner {
       .button-row {
          margin: 0 0 22px 0;
        }
      .container-lg-2 {
         padding:0px;
      }
      .info-link-footer-div {
        .footer-link {
          margin: 0px 0 0 0;
          ul{
            margin: 10px 0 0 0;
          }
        }
      }
      .bottom-footer-div {
        .messages-bottom-div{
          padding-top: 10px;
          padding-bottom: 10px;
          justify-content: center;
          p{
            font-size: 18px;
            margin: 18px 6px 10px 6px !important;
          }
        }
      }
    }
  } 

  .team-banner.banner-section {
    .banner-div {
      .content-div{
        padding: 30px 15px;
      }
    }
  }
  .about-us-section {
    padding-top: 30px;
    padding-bottom: 30px;
    .about-us-div{
      padding-right: 15px;
      padding-left: 15px;
      .heading-div {
        h2{
          font-size: 3rem;
        }
      }
    }
  }


  .committed-section {
    padding-right: 15px;
    padding-left: 15px;
    .committed-root{
      h2{
        font-size: 3rem;
      }
    }
  }

  .inner-page {
    .aboutus-value-section{
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .aboutus-value-section {
    .heading-div {
      h2{
        font-size: 3rem;
      }
    }
  }

  .inner-page {
    .creative-agency-section {
      .creative-agency-inner{
        padding-right: 15px;
        padding-left: 15px;
        .creative-agency-heading {
          h2{
            font-size: 3rem;
          }
        }
      }
    }
  }

  .service-details-section {
    .service-details-div{
      padding: 30px 15px;
      .heading-div h2{
        font-size: 3rem;
      }
    }
  }

  .project-form {
    .project-inner {
      margin-top: 100px;
      justify-content: flex-start;
      .form-group {
          margin-bottom: 15px;
          &.error {
            .help-block{
              display:none;
            }
          }
          
        
      }
      .form-heaeding {
        h3{
          letter-spacing: 1.6px;
          margin-bottom: 20px;
        }
      }
    }
  }
   

} 