@import url(https://fonts.googleapis.com/css?family=Poppins:,100,100i,200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext);


// menu slide
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 1;
    z-index: 999999;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/background.png);
        background-position: -1300px -530px;
        opacity: 0.4;
        background-repeat: no-repeat;
        display: flex;
        transform: rotate(0deg);
        justify-content: center;
        align-items: flex-start;
    }
    


      .closebtn {
        position: absolute;
        top: 0;
        height: 24px;
        width: 24px;
        right: 30px;
        font-size: 50px;
        margin-left: 50px;
        z-index: 120;
        color: #ffffff;
        text-decoration: none;
        font-weight: 200;
        img {width: 100%}
      }


    //   start here

    .menubar-header-open{
        position: absolute;
        background-color: transparent;
        border-right: 1px solid #3F3F3F;
        .header-div
        {
            .logo-div {
                .logo_link {
                    background-color: transparent;
                }
            }

            .back-to-home {
                white-space: nowrap;
                text-transform: uppercase;
                transform: rotate(90deg);
                font-weight: 200;
                font-size: 23px;
                color: #ffffff;
                letter-spacing: 0;
                text-align: center;
                text-decoration: none;
                opacity: 0.5;
                &:hover{
                    color: #ffffff;
                    opacity: 1;
                }
            }
        } 
    }
  }
  
// menu slide end
  

.cb-menu-conatiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 78px;
    padding-right: 120px;

    .cb-menu-inner-welcome {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 111;
        padding: 150px 0 0 0;


        // welcome menu
        .welcome-menu{

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        font-size: 98px;
                        font-weight: 600;
                        padding: 0 40px;
                        color: #ffffff;
                        opacity: 0.6;
                        transition: all .4s ease-in-out;
                        text-decoration: none;
                        &:hover {
                            opacity: 1;
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }
        }
    }




    // menu after click
    .cb-menu-inner {
        height: 100%;
        display: flex;
        width: 100%;
        .cb-menu-list {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 60px;
           z-index: 99;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                   display: block;
                   a.cb-link {
                   opacity: 0.5;
                   border: 0 solid #FFFFFF;
                   font-weight: 600;
                   font-size: 46px;
                   line-height: 69px;
                   color: #FFFFFF;
                   letter-spacing: 1.28px;
                   display: block;
                   transition: all 0.4s ease-in-out ;
                   -webkit-text-fill-color: hsla(0,0%,100%,0) !important;
                    -webkit-text-stroke-color: #ffffff !important;
                    -webkit-text-stroke-width: 1px;
                   &:hover {
                       cursor: pointer;
                       transition: all 0.4s ease-in-out ;
                       opacity: 1;
                       text-decoration: none;
                       -webkit-text-fill-color: #ffffff !important;
                       -webkit-text-stroke-color: none !important;
                       -webkit-text-stroke-width: 1px;
                   }
                   span {
                       
                       font-weight: 100;
                       padding-right: 56px;
                       -webkit-text-fill-color: #fafafa !important;
                       -webkit-text-stroke-color: none !important;
                       -webkit-text-stroke-width: 0;
                   }
                   }
   
                   a.cb-link.active {
                       opacity: 1;
                       font-style: italic;
                       transition: all 0.4s ease-in-out;
                       -webkit-text-fill-color: #fafafa !important;
                        -webkit-text-stroke-color: none !important;
                        -webkit-text-stroke-width: 0;

                        span {
                            font-weight: 100;
                            font-style: normal;
                        }
                   }
                   margin-bottom: 115px;
                   
                   &:last-child {
                       margin-bottom: 0;
                   }
                }
            }
        }
   
        .cb-menu-option {
           width: 60%;
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
   
        // service and technolgy css -> use  @include menu-items();
          @mixin menu-items {
                width: 100%;
                min-width: 400px;
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
    
                    li {
                        display: block;
                        background-color: #171717;
                        position: relative;
                        min-height: 130px;
                        margin-bottom: 4px;
                        z-index: 99;
                        .cb-menu-icon{  
                            height: 74px;
                            width: 74px;
                            left: 20px;
                            top: 20px;
                            position: absolute;
                            background-color: #8f8f8f;;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
    
                        .cb-content{
                            padding: 20px 20px 30px 125px;
                            h3 {
                                font-size: 32px;
                                color: #727272;
                                letter-spacing: 0.89px;
                                text-shadow: 2px 3px 0 rgba(0,0,0,0.50);
                                margin-bottom: 10px;
                                font-weight: 600;
                            }
    
                            p {
                                font-size: 19px;
                                color: #727272;
                                letter-spacing: 0.5px;
                                width: 40%;
                                line-height: 27px;
                                margin-bottom: 0;
                                font-weight: 200;
                                span {
                                    font-weight: 600;
                                }
    
                                a {
                                    display: inline-block;
                                    font-size: 18.05px;
                                    color: #727272;
                                    letter-spacing: 0.5px;
                                    border-bottom: 1px solid #727272;
                                }
                            }
                        }
                        &:hover {
                            background-color: #000000;
                            cursor: pointer;
                            .cb-menu-icon{
                                  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
                             }
                             .cb-content{
                                 h3 {
                                    color: #ED5C37;
                                 }
                                 P {
                                     color: #ffffff;
        
                                     a {color: #ffffff;
                                        text-decoration: none;
                                        border-color: #ffffff;
                                    }
                                 }
                             }
                        }
                        
                    }
    
                    li.active {
                        background-color: #000000;
                        .cb-menu-icon{
                              background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
                         }
                         .cb-content{
                             h3 {
                                color: #ED5C37;
                             }
                             P {
                                 color: #ffffff;
    
                                 a {color: #ffffff;
                                    text-decoration: none;
                                    border-color: #ffffff;}
                             }
                         }
                    }
                }
            }
        // service and technolgy css end
          
         

           .cb-submenu-1 {
            width: 100%;
            min-width: 400px;
            height: 620px;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: inline-block;
                list-style-type: none;
                font-size: 0;
                height: 100%;
                
                position: relative;
                li {
                    display: inline-block;
                    width: 80px;
                    height: 100%;
                    min-height: 450px;
                    padding:  60px 20px 20px 20px;
                    border-left: 1px solid #99A7A8;
                    z-index: 101;
                    position: relative;
                    &:last-child{
                        border-right: 1px solid #99A7A8;  
                    }

                    .work-item{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        width: 100%;
                        .work-number {
                            width: 100%;
                            span {
                                font-size: 60px;
                                color: #727272;
                                line-height: 72px;
                                letter-spacing: -4.7px;
                                display: block;
                                margin-bottom: 30px;
                                font-family: 'Bebas Neue', cursive;
                                font-weight: 600;
                            }

                            .work-content {
                                display: none;
                            }
                        }
                        .work-arrow{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                background-color: #EFF5F7;
                                opacity: 0.5;
                            }
                        }
                        
                    }


                    &:hover {
                        width: 282px;
                        background-color: #000000;
                        z-index: 111;
                        position: relative;
                        cursor: pointer;
                        .work-item{
                            align-items: flex-start;
                            
                            .work-number {
                                span {color: #ED5C37;}
                            }
                        }
    
                        .work-content {
                            display: block !important;
                            h3 {
                                font-size: 23px;
                                color: #FFFFFF;
                                letter-spacing: 0;
                                line-height: 34px;
                                text-decoration: underline;
                                margin-bottom: 26px;
                                width: 230px;
                                word-break: break-word;
                            }
    
                            .work-img{
                                margin-bottom: 20px;
                                height: 240px;
                                width: auto;
                                position: relative;
                                img {
                                    width: 341px;
                                    height: 240px;
                                    overflow: hidden;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    
                                }
                            }
    
                            p{
                                font-size: 16px;
                                color: #FFFFFF;
                                letter-spacing: 0;
                                font-family: 200;
                                line-height: 25px;
                                margin-bottom: 10px;
                            }
                        }
    
                        .work-arrow {
                            font-size: 20px;
                            color: #99A7A8;
                            letter-spacing: 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: row;
    
                            a {
                                color: #ffffff;
                                font-weight: 200;
                                line-height: 30px;
                                white-space: nowrap;
                            }
                            span {
                                transform: rotate(180deg);
                                transition: all .3s ease-in-out;
                            }
                        }
                    }
                    
                }

                li.active {
                    width: 282px;
                    background-color: #000000;
                    z-index: 110;
                    position: relative;
                    .work-item{
                        align-items: flex-start;
                        
                        .work-number {
                            span {color: #ED5C37;}
                        }
                    }

                    .work-content {
                        display: block !important;
                        h3 {
                            font-size: 23px;
                            color: #FFFFFF;
                            letter-spacing: 0;
                            line-height: 34px;
                            text-decoration: underline;
                            margin-bottom: 26px;
                            width: 230px;
                            word-break: break-word;
                        }

                        .work-img{
                            margin-bottom: 20px;
                            img {
                                width: 341px;
                                height: 240px;
                                overflow: hidden;
                            }
                        }

                        p{
                            font-size: 16px;
                            color: #FFFFFF;
                            letter-spacing: 0;
                            font-family: 200;
                            line-height: 25px;
                            margin-bottom: 10px;
                            white-space: nowrap;
                        }
                    }

                    .work-arrow {
                        font-size: 20px;
                        color: #99A7A8;
                        letter-spacing: 0;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        overflow: hidden;
                        a {
                            color: #ffffff;
                            font-weight: 200;
                            line-height: 30px;
                            white-space: nowrap;
                        }
                        span {
                            transform: rotate(180deg);
                            transition: all .3s ease-in-out;
                        }
                    }
                }


                
            }
           }

           .cb-submenu-2 {
            @include menu-items();
           }

           .cb-submenu-3{
         
            @include menu-items();
           }
        }
    }

    
}

.cb-menu-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;

    .send-message{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        h3 {
            opacity: 0.6;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 0.61px;
            font-weight: 400;
        }

        a {
            display: block;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 0.61px;
            margin-bottom: 0;
            transition: all 0.4s ease-in-out;
            z-index: 100;
            &:hover {
                cursor: pointer;
                color: #FD7850;
                transition: all 0.4s ease-in-out;
            }
        }
    }

    .cb-social-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        h3 {
            opacity: 0.6;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 0.61px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                padding:  0 25px;
                z-index: 100;
                a {
                    font-size: 22px;
                    color: #FFFFFF;
                    letter-spacing: 0.61px;
                    line-height: 33px;
                    transition: all 0.4s ease-in-out;
                    z-index: 100;
                    &:hover {
                        cursor: pointer;
                        color: #FD7850;
                        transition: all 0.4s ease-in-out;
                    }
                }

                &:last-child {
                    padding-right: 0;
                }
                position: relative;
                &::before {
                    content: '';
                    height: 8px;
                    width: 8px;
                    border-radius: 30px;
                    left: -10px;
                    top: 12px;
                    position: absolute;
                    background-color: #727272;
                }
            }
        }
    }
}

// start project


.start-new-project {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 1;
    z-index: 999999;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/background.png);
        background-position: -1300px -530px;
        opacity: 0.4;
        background-repeat: no-repeat;
        display: flex;
        transform: rotate(0deg);
        justify-content: center;
        align-items: flex-start;
    }
    


      .closebtn {
        position: absolute;
        top: 0;
        height: 24px;
        width: 24px;
        right: 30px;
        font-size: 50px;
        margin-left: 50px;
        z-index: 112;
        color: #ffffff;
        text-decoration: none;
        font-weight: 200;
        img {
            width: 100%;
        }
      }


    //   start here

    .menubar-header-open{
        position: absolute;
        background-color: transparent;
        border-right: 1px solid #3F3F3F;
        .header-div
        {
            .logo-div {
                .logo_link {
                    background-color: transparent;
                }
            }

            .back-to-home {
                white-space: nowrap;
                text-transform: uppercase;
                transform: rotate(90deg);
                font-weight: 200;
                font-size: 23px;
                color: #ffffff;
                letter-spacing: 0;
                text-align: center;
                text-decoration: none;
                opacity: 0.5;
                &:hover{
                    color: #ffffff;
                    opacity: 1;
                }
            }
        } 
    }
  }

.project-form{
    z-index: 99;
    position: relative;
    height: 100%;
    width: 100%;
    .project-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 78px;
    padding-right: 120px;
        .form-heaeding {
            h3 {
                font-size: 24px;
                color: #FFFFFF;
                letter-spacing: 3.6px;
                text-align: center;
                margin-bottom: 63px;
                span{
                    border-bottom: 1px solid #ED5C37;
                }
            }
        }

        .form-group {
            margin-bottom: 40px;
            .form-control {
                padding: 20px 30px;
                width: 100%;
                height: 72px;
                background-color: transparent;
                font-size: 24px;
                color: #99A7A8;
                letter-spacing: 0;
                line-height: 35px;
                color: #ffffff;
                font-weight: 200;
                border: 1px solid rgba(153, 167, 168, 0.2);
                outline: none;
                box-shadow: none;

                &:focus {
                    border: 1px solid #EFF5F7;
                    transition: all .4s ease-in-out;
                }
            }
            textarea.form-control {
                height: 140px;
            }
        }

        .d-flex-center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-submit{
            background: #ED5C37;
            border: 0 solid #FFFFFF;
            border-radius: 10px;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            height: 52px;
            padding: 12px 163px;

            
        }

    }
}


// inner page started


// banner section

.banner-section{
    .banner-div {
        .content-div {
            .heading-content {
                h1 {
                    span {
                        .heading-link {
                            color: #000000;
                            font-weight:  300;
                        }
                    }
                }
               
            }
           
        }
    }
}

.inner-page {

    .menubar-header {
        background-color: transparent;
        border-right:  1px solid rgba(0, 0, 0, 0.5);
        .header-div{
            position: relative;
            .header-work-text{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding: 0;
                position: absolute;
                left: 0px;
                top: 125px;
                width: 100%;
            
                a {
                transform: rotate(270deg);
                padding: 0 0px;
                font-size: 18px;
                display: flex;
                    color: #000000;
                    letter-spacing: 0;
                    white-space: nowrap;
                    span{
                        opacity: .5;
                        margin: 0 10px;
                        display: inline-block;

                    }
                }
            }

            .long-text {
                top: 200px !important;
            }
        }
    }
    
    .header-hover-only{
        background-color: transparent !important;
        border-right:  1px solid rgba(255, 255, 255, 0.2);
        .header-div{
            .header-work-text{
                a {
                    color: #ffffff;

                }
            }

            .nav-center-div {
                .nav-m-bar {
                    .menu-icon {
                        .bar {
                            .fill {
                                width: 100%;
                                height: 1px;
                                background-color: rgba(255, 255, 255, 0.4);
                                -webkit-transition: background-color .2s ease-in-out;
                                transition: background-color .2s ease-in-out;
                                will-change: transform;
                            }
                        }
                    }
                }
            }
        }
    }


    .banner-section-image{
        background-image: url("../images/banner-inner.jpg");
        background-size: cover;

        .content-div{
            h1 {
                color: #ffffff !important; 
            }

            p{
                color: #ffffff !important; 
            }

            .mouse-icon-div{
                a {
                    span {
                        background-color: #ffffff !important; 
                    }
                }
            }

            .heading-content {
                h1 {
                    span {
                        .heading-link {
                            color: #ffffff;
                            font-weight:  300;
                        }
                    }
                }
               
            }
    
        }
        

        
       
    }

    .new-project-inner-page{
        background-color: #181818 !important;
    }

    


    
// work details pages 

    .banner-workdetail-page  {
        background-image: url("../images/work-detail.png");
        background-size: 85% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        min-height: 100%;
        .banner-div {
            width: 100%;
            display: flex;
            .content-div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 135px;
            min-height: unset;
            
            .heading-workdetail{

                .view-allprojects {
                    margin-bottom: 20px;
                    a {
                        font-size: 23px;
                        color: #FFFFFF !important;
                        letter-spacing: 0;
                        display: block;
                        text-decoration-color: #ffffff !important;
                        font-weight: 200 !important;
                        text-decoration: none;
                        border-bottom: 1px solid #ffffff;
                        display: inline-block;
                        padding-bottom: 0 !important;
                        padding-right: 0 !important;
                        line-height: 26px;
                    }
                }
                    h1 {
                        font-size: 48px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 72px;
                        width: 80%;
                    }
                }
            }

            .banner-content-workdetail{ 
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                justify-content: flex-start;
                padding: 135px 60px 0 60px;

                P {
                    font-size: 18px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    line-height: 27px;

                    a {
                        font-size: 18px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 27px;
                        text-decoration: none;
                        display: inline-block;
                    }
                }

                .content-one{margin-bottom: 40px;
                
                }

                .content-two {
                    .arrrow-div {
                        a {
                            margin: 0;
                            padding: 0 5px;
                            display: inline-block;
                            img {
                                max-height: 200px;
                                margin-left: 0px;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .banner-img-right {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .banner-work-img {
                    padding: 0 60px 0 0;            
                    right: 0;
                    top: 0;
                    z-index: 99;
                    width: 95%;
                    position: absolute;
                    img {
                        width: 100%;
                    }
                }

                .mobile-mockup-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    top: 10 0px;
                    img{
                        max-width: 328px;
                    }
                }

                .punchline-img {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: 100%;
                    top: 180px;
                    right: 30px;
                    img{
                        max-width: 449px;
                        width: 100%;
                    }
                }

                .top-80{
                    top: 80px
                }
                // .max-720{
                //     max-width: 720px;
                //     top: 190px;
                // }

                // .max-790{
                //     max-width: 790px;
                //     top: 190px;
                // }
            }
            
        }
       
        
    }

    .our-challanges-section{
        padding: 190px 0 115px 0;
        background-color: #ffffff;

        .our-challanges-inner{
            padding: 0 60px;

            .our-challanges-heading {
                h2{
                    font-size: 58px;
                    color: #181818;
                    letter-spacing: 0;
                    line-height: 71px;
                    font-weight: 600;
                    margin-bottom: 60px;
                    .heading-link { 
                        color: #181818;
                        text-decoration: underline;
                        text-decoration-color: #ed5c37;
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 8px;
                            left: 5px;
                            width: 97%;
                            height: 5px;
                            display: inline-block;
                            border-radius: 100px;
                            background-color: #ed5c37;
                            z-index: -1;
                         }

                        .span-block{
                            display: block;
                        }
                    }
                }

                h4{
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                    line-height: 35px;
                    width: 80%;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 16px;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
        }

    }

    .scope-of-work-section{
        background-color: #181818;
        padding: 80px 0 80px 0;

            .scope-of-work-inner {
                padding: 0 60px;
                
                .scope-of-work-heading{
                    margin-bottom: 70px;
                    h2 {
                        font-size: 58px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 71px;
                        font-weight: 600;
                        .heading-link { 
                            color: #FFFFFF;
                            text-decoration: underline;
                            text-decoration-color: #ed5c37;
                            &:before {
                                content: "";
                                position: absolute;
                                bottom: 8px;
                                left: 5px;
                                width: 97%;
                                height: 5px;
                                display: inline-block;
                                border-radius: 100px;
                                background-color: #ed5c37;
                                z-index: -1;
                             }
    
                            .span-block{
                                display: block;
                            }
                        }
                    }
                
               
            }

            .scope-of-work-listing{
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: block;
                        font-size: 20px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 60px;
                        padding-left: 95px;
                        position: relative;
                        font-weight: 600;
                        &::before {
                            content: '';
                            background-image: url('../images/icons/arrow-right2.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 50px;
                            width: 60px;
                            position: absolute;
                            left: 15px;
                            top: 3px;
                        }
                    }
                }
            }
          
        }
    }


    .image-slider-section{
        padding: 120px 0;
        background-color: #ffffff;
    }

    .delivery-section{
        background-color: #fafafa;
        padding: 90px 0 120px 0;
        .delivery-inner{
            padding: 0 60px;
            .delivery-info {

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 100px;
                    right: 5px;
                    width: 1px;
                    height: 300px;
                    display: inline-block;
                    border-radius: 0px;
                    background-color: #DBDEE5;
                   
                }
                h4 {
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                    font-weight: 200;
                    line-height: 35px;
                    margin-bottom: 15px;    
                }
                h2 {
                    font-size: 58px;
                    color: #181818;
                    letter-spacing: 0;
                    line-height: 71px;
                    font-weight: 600;
                    margin-bottom: 135px;
                }

                .form-group {

                    .form-group-merge{
                        display: flex;

                        .btn-default {
                            margin-left: -40px;
                            border: 0;
                            background-color: transparent;
                            height: 40px;
                            width: 40px;
                            border: 1px solid #727272;
                            border-radius: 30px !important;
                            box-shadow: none;
                            outline: none;
                            position: relative;
                            top: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: 20px;
                                color: #727272;
                            }
                        }
                    }
                    label {
                        font-size: 24px;
                        color: #727272;
                        letter-spacing: 0;
                        font-weight: 200;
                        margin-bottom: 10px;
                    }
                    .form-control {
                        background: #F4F4F4;
                        border-radius: 20px;
                        border: 0;
                        height: 40px;
                        width: 50%;
                        font-size: 16px;
                        color: #3F3F3F;
                        letter-spacing: 0;
                        line-height: 24px;
                        padding-right: 60px;
                    }
                }
            }

            .service-info{
                h4 {
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                    font-weight: 200;
                    line-height: 35px;
                    margin-bottom: 15px;    
                }
                h2 {
                    font-size: 58px;
                    color: #181818;
                    letter-spacing: 0;
                    line-height: 71px;
                    font-weight: 600;
                    margin-bottom: 135px;
                }

                h5{
                    font-size: 28px;
                    color: #727272;
                    letter-spacing: 0;
                    font-weight: 600;
                    position: relative;
                    margin-bottom: 60px;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -30px;
                        left: 5px;
                        width: 30px;
                        height: 8px;
                        display: inline-block;
                        border-radius: 0px;
                        background-color: #000000;
                       
                    }
                }

                P{
                    font-size: 20px;
                    color: #727272;
                    letter-spacing: 0;
                    line-height: 30px;
                    width: 80%;
                }
            }
        }
        
    }

//  service page started


    .service-banner{
        background-image: url('../images/service-banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        min-height: 100%;
        position: relative;
        &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        }

        .service-banner-heading{
            h1 {
                width: 100% !important;
                .span_block {
                    display: block;
                }
            }

          
        }

        .service-request-quote {
            width: 100%;
            p {
                border-bottom: 0px solid rgba(255, 255, 255,0.5);
                width: 100%;
                display: block;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 27px;
                letter-spacing: 0;
                padding-bottom: 11px;
                span {
                    line-height: 27px;
                    padding-bottom: 12px;
                    border-bottom: 0
                    
                }
                
            }
        }
    }

    .banner-technology-detail{
        background-image: url('../images/black-banner.png');
    }

    .technology-banner {
        background-image: url('../images/technology-banner-one.png');
    }

    .team-banner{
        background-image: url('../images/black-banner.png');
    }


    .tech-detail-section{
        padding: 190px 0 115px 0;
        background-color: #ffffff;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 120px;
            width: 80%;
            margin: 0 auto;
            height: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:rgba(114, 114, 114, 0.4);
        }
       

        .tech-detail-inner{
            padding: 0 60px;

            .tech-detail-heading {
                margin-bottom: 60px;
                h2{
                    font-size: 58px;
                    color: #181818;
                    letter-spacing: 0;
                    line-height: 71px;
                    font-weight: 600;
                    margin-bottom: 60px;
                    .heading-link { 
                        color: #181818;
                        text-decoration: underline;
                        text-decoration-color: #727272;
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 8px;
                            left: 5px;
                            width: 97%;
                            height: 5px;
                            display: inline-block;
                            border-radius: 100px;
                            background-color: #727272;
                            z-index: -1;
                         }

                        .span-block{
                            display: block;
                        }
                    }
                }

                h4{
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                    line-height: 35px;
                    width: 80%;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 16px;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: 28px;
                    font-weight: 400;
                }
            }


            .tech-icon-box-root { .tech-icon-box {
                min-width: 80px;
                min-height: 80px;
            }
            }
        }

    }


    .creative-agency-section{
        padding: 20px 0 115px 0;
        background-color: #ffffff;
        position: relative;
       

        .creative-agency-inner{
            padding: 0 60px;

            .creative-agency-heading {
                margin-bottom: 60px;
                h2{
                    font-size: 58px;
                    color: #181818;
                    letter-spacing: 0;
                    line-height: 71px;
                    font-weight: 600;
                    margin-bottom: 60px;
                    .heading-link { 
                        color: #181818;
                        text-decoration: underline;
                        text-decoration-color: #727272;
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 8px;
                            left: 5px;
                            width: 97%;
                            height: 5px;
                            display: inline-block;
                            border-radius: 100px;
                            background-color: #727272;
                            z-index: -1;
                         }

                        .span-block{
                            display: block;
                        }
                    }
                }

                h4{
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                    line-height: 35px;
                    width: 80%;
                    margin-bottom: 40px;
                }
          
        }

    }
}
    .aboutus-value-section {
        padding: 130px 60px 100px 60px ;
    }

 

}

// work page start

.project-view-section{
    padding: 100px 60px;
    margin: 0;
    position: relative; 
    background-color: #ffffff;
    .project-view-div{
 
        .heading-section {
            margin-bottom: 40px;
            h2{
            color: #000000; 
            padding: 0;
            margin: 0 0 40px 0;
            font-size: 3.625rem;
            font-weight: 600;
            line-height: 72px;

                span {
                    .heading-link {
                        font-weight: 600;
                        position: relative;
                        color: black;
                        padding: 0 5px 0 0;
                        text-decoration: none;
                        -webkit-text-decoration-color: #ed5c37;
                        text-decoration-color: #ed5c37;
                        display: inline-block;

                        &:before{
                            content: "";
                            position: absolute;
                            bottom: 8px;
                            left: 18px;
                            width: 90%;
                            height: 5px;
                            display: inline-block;
                            border-radius: 100px;
                            background-color: #ed5c37;
                        }
                    }
                    
                } 
                
            }
        }

    }

    .all-workslider {
        .pad-0 {padding: 0 !important;}
        .owl-item {background-color: #ffffff;}
        .item {border-left: 1px solid rgba(153, 167, 168,0.2);}
        .owl-nav{
            position: absolute;
            left: 0;
            bottom: -50px;
            button {
                box-shadow: none;
                outline: none;
                background-color: transparent !important;
            }
        }
    
    
        .all-wrok-box{
            // padding: 60px 20px 20px 20px;
            
            
            
            .all-wrok-number{
                h2 {
                    font-size: 60px;
                    color: #ED5C37;
                    letter-spacing: -4.7px;
                    font-family: 'Bebas Neue', cursive;
                    margin-bottom: 30px;
                    font-weight: 600;
                }
            }
            
            .all-wrok-heading{
                h3 {
                    font-size: 23px;
                    line-height: 34px;
                    color: #000000;
                    letter-spacing: 0;
                    margin-bottom: 26px;
                    font-weight: 600;
                }
            }
    
            .all-wrok-img{
                min-height: 240px;
                max-height: 240px;
                overflow: hidden;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
            .all-wrok-date{
                p {
                    font-size: 16px;
                    color: #727272;
                    letter-spacing: 0;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
            }
            .all-wrok-viewmore{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    font-size: 20px;
                    color: #181818;
                    letter-spacing: 0;
                    font-weight: 200;
                }
                span {
                    color: #EFF5F7;
                    height: 26px;
                    width: 26px;
                }
            }
        }
    }
    
}   
// solution-work-section

.solution-work-section{
    background-color: #fafafa;
    padding: 0 60px;
    margin: 0;
    height: 100vh;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/solution-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    .solution-work-inner {
        height: 100%;
        width: 100%;
        display: flex;

        .solution-left {
            align-items: center;
            display: flex;
            .solution-list {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                height: 100%;
                width: 100%;
    
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-bottom: 44px;
                    li {
                        a {
                            font-size: 58px;
                            color: #181818;
                            letter-spacing: 0;
                            line-height: 81px;
                            font-weight: 600;
                            span {
                                font-size: 20px;
                                color: #000000;
                                letter-spacing: 0;
                                line-height: 81px;
                                margin-right: 50px;
                                vertical-align: middle;
                                font-weight: 300;
                                font-style: italic;
                            }
    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
    
            }
    
            .solution-content{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 70px 0;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 0px;
                    width: 200px;
                    height: 5px;
                    display: inline-block;
                    border-radius: 100px;
                    background-color: #ed5c37;
                }
                
            }
        }
        

        .solution-right{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            .solution-userprofile{
                height: 160px;
                width: 160px;
                overflow: hidden;
                position: relative;
                top: 0;
                left: -65px;
                box-shadow: 10px 10px 0 0 #F2F2F2;

            
            }
        }
    
    }
}

.inner-page {
    .services-section{
        .heading-div {
            margin-bottom: 100px;
            
            h2 {
                .heading-link {
                    margin: 0 0 20px 0;
                    font-size: 3.625rem;
                    color: black;
                    font-weight: 600;
                    position: relative;
                    z-index: 1;
                    text-decoration: underline;
                    display: inline-block;
                    text-decoration-color: #ed5c37;
                    
                // &:before {
                //     content: "";
                //     position: absolute;
                //     bottom: 8px;
                //     left: 5px;
                //     width: 97%;
                //     height: 5px;
                //     display: inline-block;
                //     border-radius: 100px;
                //     background-color: #ed5c37;
                //     z-index: -1;
                // }

                }
            }
           
        }
    }
}


.mac-frame{
    max-width: 800px;
    max-height: 650px;
    // top: 160px !important;
    img {
        width: 100%;
        height: 100%;
    }


    .mac-frame-inner{
        position: absolute;
        left: 0;
        top: 0;
        max-width: 800px;
        max-height: 78%;
        overflow: hidden;
        padding: 20px 60px 20px 20px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;

        img {
            margin-top: 0;
            width: 100%;
        }
       
    }

    &:hover {
        cursor: pointer;
        .mac-frame-inner{
            img {
                margin-top: -500px;
                transition: all 1.5s ease-in-out;
                overflow: hidden;
            }
        }

    }
}



// .owl-item-hover {
//     background-color: rgba(0, 0, 0, 0.4);
//     position: absolute;
//     top: 0;
//     left:0;
//     width: 100%;
//     height: 100%;
//     z-index: 99999999;
// }

// workpage end


// blog section start


.blog-trending-section{
    padding: 80px 0 100px 0;
    background-color: #ffffff;

    .blog-trending-inner{
        padding: 0 60px;

        .blog-trending-heading {
            h2{
                font-size: 22px;
                color: #181818;
                letter-spacing: 0;
                line-height: 36px;
                font-weight: 600;
                margin-bottom: 20px;
                .heading-link { 
                    color: #181818;
                    text-decoration: underline;
                    text-decoration-color: #ed5c37;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 8px;
                        left: 5px;
                        width: 97%;
                        height: 5px;
                        display: inline-block;
                        border-radius: 100px;
                        background-color: #ed5c37;
                        z-index: -1;
                     }

                    .span-block{
                        display: block;
                    }
                }
            }

            h4{
                font-size: 24px;
                color: #727272;
                letter-spacing: 0;
                line-height: 35px;
                width: 80%;
                margin-bottom: 40px;
            }

            p {
                font-size: 16px;
                color: #000000;
                letter-spacing: 0;
                line-height: 28px;
                font-weight: 400;
            }

            .blog-trending-info{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span {
                    padding: 10px;
                }
            }
        }
    }

}



.blog-listing-section{
    padding: 130px 0 100px 0;
    background-color: #ffffff;

    .blog-listing-inner{
        padding: 0 60px;

        .blog-category {
            position: sticky;
            top: 100px;
            padding-right: 80px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            flex-direction: column;
            margin-bottom: 30px;
            h2 {
                font-size: 32px;
                line-height: 48px;
                color: #181818;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .category-list{
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    
                    li {
                        list-style: none;
                        display: block;
                        a { display: block;
                            font-size: 26px;
                            line-height: 40px;
                            color: #181818;
                            font-weight: 300;
                            margin-bottom: 5px;
                            padding-left: 10px;
                            text-decoration: none;
                            &:before {
                                content: "-";
                                text-indent: -6px;
                                position: relative;
                                left: -8px;
                                text-decoration: none;
                            }

                            &:hover {
                                color: #ED5C37;
                                transition: all 0.5s ease-in-out;
                            }
                        }
                        
                      
                    }
                }
            }
        }

        .recent-post{
            align-items: center;
            justify-content: center;
            height: 100%;
        }


        .blog-lisiting-all {
            .col-pad-0 {
                padding: 0;
                border-right: 1px solid #d7d7d7;
                border-top: 1px solid #d7d7d7;
                border-left: 1px solid #d7d7d7;
                border-bottom: 1px solid #d7d7d7;
            }
            .blog-item {
                padding: 36px 35px;
                background-color: #ffffff;

                
                .blog-body{
                    margin-bottom: 20px;

                    a {
                        max-height: 232px;
                        min-height: 232px;
                        overflow: hidden;
                        display: block;

                        img {
                            width: 100%;
                            max-height: 232px;
                            min-height: 232px;
                            transition: transform 1s cubic-bezier(.475,.425,0,.995);
                        }

                      
                    }

                      &:hover{
                            img {
                                transform: scale(1.3) rotate(10deg);
                            }
                        }
                  
                }
                .blog-footer {
               

                    a {
                       display: flex;
                       align-items: flex-start;
                       justify-content: space-between;
                       text-decoration: none;
                       padding-right: 40px;
                       position: relative;
                       h3 {
                        font-size: 26px;
                        line-height: 39px;
                        font-weight: 600;
                        color: #303030;

                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        display: -webkit-box;

                        }
                        span {
                            position: absolute;
                            right: -30px;
                            top: 20px;
                            display: flex;
                            transform: rotate(90deg);
                            align-items: flex-end;
                            color: #303030;
                            font-size: 18px;
                            line-height: 27px;
                            padding: 10px 0;
                            font-weight: 500;
                        }

                        &:hover{
                            h3 {
                                transition: all all .4s ease-in-out;
                                color: #ED5C37;
                            }
                        }
                    }
                }
             
            }
       
            .col-pad-0:nth-of-type(1) {
                margin-top: -1px;
            }
            .col-pad-0:nth-of-type(2) {
             
                border-left: 0;
                margin-top: -1px;
            }
            .col-pad-0:nth-of-type(3) {
                border-left: 0;
                margin-top: -1px;
            }  



            // .col-pad-0:nth-of-type(1) {
            //     margin-top: -80px;
            // }
            // .col-pad-0:nth-of-type(2) {
            //     margin-top: -40px;
            // }
            // .col-pad-0:nth-of-type(3) {
            //     margin-top: -1px;
            // }
             
           
        }


    


    }
}

.recent-post-section {
    padding: 100px 0;
    background-color: #ffffff;
    border-top: 1px solid #d7d7d7;
    z-index: 1;
    position: relative;
}


.blog-detail-section{
    padding: 270px 0 115px 0;
    background-color: #ffffff;
    z-index: 1;
    position: relative;

            .border-verticle {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    height: 114%;
                    width: 1px;
                    left: 40px;
                    top: -270px;
                    background-color: #d7d7d7;
                    z-index: 1;
                }

                &:before {
                    content: '';
                    position: absolute;
                    height: 114%;
                    width: 1px;
                    right: 40px;
                    top: -270px;
                    background-color: #d7d7d7;
                    z-index: 1;
                }
            }

    .back-to-article{
        padding: 0 60px;
        a  {
            font-size: 20px;
            font-weight: 600;
            color: #181818;
            span {
                display: inline-block;
                padding-left: 20px;
                transform: rotate(180deg) ;
            }
        }
        margin-bottom: 55px;
    }

    .blog-subtitle{
        padding: 0 60px;
        h2 {
            font-size: 58px;
            color: #181818;
            font-weight: 600;
            line-height: 74px;
            margin-bottom: 50px;
            span {
                display: block;
            }
        }
    }

    .blog-post-info{
        padding: 0 60px; 
        margin-bottom: 70px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: inline-block ;
                a {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                    color: #181818;
                    display: inline-block;
                    padding: 0 20px;
                    position: relative;
                    text-decoration: none;
                    &::before {
                      content: '';
                      position: absolute;
                      display: block;
                      left: -5px;
                      top: 12px;
                      height: 6px;
                      width: 6px;
                      border-radius: 30px;
                      background-color: #807C7C;
                    }
                }
                &:first-child {
                    a {
                        padding-left: 0;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .blog-detail-img {
        margin-bottom: 70px;
        position: relative;
        z-index: 2;
        img {
            width: 100%;
        }
    }

    .blog-detail-info{
        padding: 0 60px; 
        p {
            font-size: 24px;
            line-height: 38px;
            color: #181818;
            font-weight: 300;
            margin-bottom: 60px;
        }

        ul {
            padding: 0;
            margin: 0 0 60px 0;
            li {
                list-style: none;
                line-height: 28px;
                font-size: 20px;
                color: #181818;
                font-weight: 300;
                margin-bottom: 20px;
                position: relative;
                padding-left: 80px;
                &::before {
                    content: "\e912";
                    font-family: Feather !important;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    display: block;
                    left: -0px;
                    top: 1px;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    background-color: rgba(239, 245, 247, 0.6);
                }
            }
        }
    }


    .blog-footer{
        padding: 0 60px; 
    }
    .blog-social-media {
            display: flex;
            justify-content: flex-end;
            .btn-share {
                border-radius: 100% !important;
                background-color: #ffffff;
                border: 3px solid rgba(24, 34, 40, .1);
                height: 63px;
                width: 63px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                box-shadow: none;
            }


          
            .social-media-drop-down{
                width: 100%;
                min-width: 320px;
                padding: 0;
                border: 0;
                background-color: transparent;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 10px;
                        a {
                            background-color: #ffffff;
                            border: 3px solid rgba(24, 34, 40, .1);
                            height: 63px;
                            width: 63px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            i {
                                font-size: 26px;
                            }

                            
                        }

                        a.facebook {
                            border-color: rgba(67, 97, 156, 0.3);

                            i {
                                color: #43619c;
                            }
                            &:hover {
                                border-color: #43619c;
                                background-color: #43619C;
                                -webkit-transition: all 0.1s ease-in-out;
                                transition: all 0.1s ease-in-out;
                                i {
                                    color: #ffffff;
                                }
                            }
                        }
                        a.linkdin {
                            border-color: rgba(24, 127, 184, 0.3);
                            i {
                                color: #187FB8;
                            }

                            &:hover {
                                border-color: #187FB8;
                                background-color: #187FB8;
                                -webkit-transition: all 0.1s ease-in-out;
                                transition: all 0.1s ease-in-out;
                                i {
                                    color: #ffffff;
                                }
                            }
                            }

                            a.twitter {
                                border-color: rgba(36, 169, 230, 0.3);
                                i {
                                    color: #24A9E6;
                                }

                             &:hover {
                                border-color: #24A9E6;
                                background-color: #24A9E6;
                                -webkit-transition: all 0.1s ease-in-out;
                                transition: all 0.1s ease-in-out;
                                i {
                                    color: #ffffff;
                                }
                             }
                            }
                            a.google-plus {
                                border-color: rgba(242, 64, 51, 0.3);

                                i {
                                    color: #F24033;
                                }

                                &:hover {
                                    border-color: #F24033;
                                    background-color: #F24033;
                                    -webkit-transition: all 0.1s ease-in-out;
                                    transition: all 0.1s ease-in-out;
                                    i {
                                        color: #ffffff;
                                    }
                                }
                            }

                            
                        }
                }
            }
    }


    .button-common-div {
    margin-top: 0 !important;
    }


}



.banner-sitemap  {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: left;
    height: 50vh;
    min-height: 50vh;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        display: flex;
        left: 0;
        top: 0;
    }
    .banner-div {
        width: 100%;
        display: flex;
        .content-div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 135px;
        min-height: 50vh !important;
        
        .heading-sitemap{

            .view-allprojects {
                margin-bottom: 20px;
                a {
                    font-size: 23px;
                    color: #FFFFFF !important;
                    letter-spacing: 0;
                    display: block;
                    text-decoration-color: #ffffff !important;
                    font-weight: 200 !important;
                    text-decoration: none;
                    border-bottom: 1px solid #ffffff;
                    display: inline-block;
                    padding-bottom: 0 !important;
                    padding-right: 0 !important;
                    line-height: 26px;
                }
            }
                h1 {
                    font-size: 48px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    line-height: 72px;
                    width: 80%;
                }
            }
        }        
    }
}


.sitemap-section{
    padding: 100px 60px;
    background-color: #ffffff;

    .all-lisitng{
        h3 {
            font-size: 22px;
            line-height: 33px;
            font-weight: 600;
        }

        h4 {
            font-size: 18px;
            line-height: 33px;
            font-weight: 600;
            margin: 10px 0;
        }

        

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            margin-bottom: 0px;
            li {
                padding: 0 20px 0 0;
                a {
                    font-size: 16px;
                    line-height: 33px;
                    font-weight: 400;
                    color: #181818;
                }

                .sub-list {
                    padding-left: 50px;
                    display: inline-block;
                }

                &:first-child {
                    width: 25%;
                }
            }
        }
    }
}


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;
        a {font-size: 18px;}
    }
  }

  @media (max-width: 767px) {
    .menubar-header-open{ 
   
        border-bottom: 1px solid #3F3F3F;
        .header-div
        {
            background-color: transparent !important;
            .logo-div {
                .logo_link {
                  
                }
            }
            .nav-center-div{display: none !important;}
            .back-to-home {
                text-transform: rotate(0deg) !important;
            }
        }

        
    
    }
    .closebtn {z-index: 9999 !important;
    }
    .project-form .project-inner { padding: 0;}


    .blog-social-media {
        padding: 0;
        justify-content: flex-start !important;
        margin-top: 40px ;

        .btn-share {
            height: 45px !important;
            width: 45px !important;
            img {
                width: 20px;
            }
        }
        .social-media-drop-down {
           
            ul {
                li {
                    margin-right: 8px;
                    a {
                        height: 45px !important;
                        width: 45px !important;
                    }                
                }
            }
        }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .project-form .project-inner { padding: 0 100px;}
   
   
    .blog-listing-section {
        .blog-listing-inner {
            .blog-lisiting-all {
                .col-pad-0 {
                    padding: 0;
                    border-right: 1px solid #d7d7d7;
                    border-top: 1px solid #d7d7d7;
                    border-left: 1px solid #d7d7d7;
                    border-bottom: 1px solid #d7d7d7;
                }

                
            .col-pad-0:nth-of-type(1) {
                margin-top: 0px;
            }
            .col-pad-0:nth-of-type(2) {
                margin-top: 0px;
            }
            .col-pad-0:nth-of-type(3) {
                margin-top: 0px;
            }
                .blog-item {
                    padding: 36px 35px;
                    background-color: #ffffff;
        
                    
                    .blog-body{
                        margin-bottom: 20px;
        
                        a {
                            max-height: auto !important;
                            min-height: auto !important;
                            img {
                                max-height: auto !important;
                            min-height: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
   

  }