@charset "utf-8";
// @import url(bootstrap.min.css);
@import url(custom.css);
// @import url(animate.min.css);
// @import url(owl.carousel.min.css);
// @import url(owl.theme.default.css);
// @import url(feather.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$black-color-40:rgba(0, 0, 0, 0.4);

$primary-color1: #ed5c37;
$primary-color2: #181818;

$sub-color1: #EFF5F7;
$sub-color1-50: rgba(239, 245, 247, 0.5);

$sub-color2: #727272;
$sub-color3: #99A7A8;
$sub-color4: #FAFAFA;

$color1:#FF2D3D;
$color2:#239FF1;
$color3:#F26820;
$color4:#017363;


/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;  }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'Poppins', sans-serif !important; scroll-behavior: smooth; line-height: 1.5;  }

.wrapper {  background-color: $white-color; display: block; height: 100%;   
 }
.container { max-width: 1200px; }
.container-lg{ max-width: 1300px; }
.container-fluid{ width: 100%; padding: 0 60px 0 78px; }

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.p0{ padding-left: 0px; padding-right: 0px; }
.span-block{ display: block; }
p { padding: 0; margin: 0; font-size: 24px; font-weight: 300; color: $sub-color2; }

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px !important; }
.mt-60{ margin-top: 60px !important; }
.mt-65{ margin-top: 65px !important; }
.mt-80{ margin-top: 80px !important; }

.mb-0{ margin-bottom: 0px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }

ul{ list-style: none; }

button{ transition: 0.5s; }

.primary-color2{ color:$primary-color2 !important; }

/* End of default css */

.w100{ width: 100% !important; max-width: 100% !important; }

.heading-div{
    padding: 0; margin: 0 0 10px 0; 
    h2{ padding: 0; margin: 0 0 40px 0; font-size: 3.625rem; font-weight: 600; color: $white-color; line-height: 72px; }
    .link1{ font-weight: 600; position: relative; color: $white-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1; position: relative; 
        &::before{ content: ""; position: absolute; bottom: 8px; left: 3px; width: 45px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        &::after{ content: ""; position: absolute; bottom: 8px; right: 5px; width: 170px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
    }
    .link2{ font-weight: 600; position: relative; color: $black-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1;
        &::before{ content: ""; position: absolute; bottom: 8px; left: 3px; width: 98px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        &::after{ content: ""; position: absolute; bottom: 8px; right: 50px; width: 160px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
    }
    .link3{ font-weight: 600; position: relative; color: $black-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1; display: inline-block;
        &::before{ content: ""; position: absolute; bottom: 8px; left: 3px; width: 98px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        &::after{ content: ""; position: absolute; bottom: 8px; right: 15px; width:30px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
    }
    .link4{ font-weight: 600; position: relative; color: $black-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1; display: inline-block;
        &::before{ content: ""; position: absolute; bottom: 8px; left: 3px; width: 98px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
    }
    .link5{ font-weight: 600; position: relative; color: $white-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1; position: relative; 
        &::before{ content: ""; position: absolute; bottom: 8px; left: 3px; width: 210px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        &::after{ content: ""; position: absolute; bottom: 8px; right: 45px; width: 250px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        span.line-5span{ position: relative;
            &::after{ content: ""; position: absolute; bottom: 8px; left: 0px; width: 25px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        }
    }
    .link6{ font-weight: 600; position: relative; color: $black-color; padding: 0 5px 0 0; text-decoration: none; text-decoration-color: $primary-color1; display: inline-block;
        &::before{ content: ""; position: absolute; bottom: 0px; left: 0px; width: 80px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
        &::after{ content: ""; position: absolute; bottom: 0px; right: 0px; width:90px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; }
    }
    .link7{ 
        position: relative;
        &::before{ 
            content: ""; position: absolute; bottom: 8px; left: 40px; width: 125px; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; 
        }
    }
    .link-hr{ 
        position: relative;
        &::before{ 
            content: ""; position: absolute; bottom: 8px; left: 0; width: 100%; height: 5px; display: inline-block; border-radius: 100px; background-color:  $primary-color1; 
        }
        &.link-hr-a3{
            &::before{ width: 40px; left: 5px; }
        }
    }
    
    &.heading-center-div{
        text-align: center;
        justify-content: center;
        margin: 0 auto 10px auto;
    }
}

.button-common-div{
    padding: 0; margin: 40px auto 0 auto; position: relative; width: 100%; max-width: 1100px; display: flex;
    .btn-common{ padding: 10px 10px 10px 25px; margin: 0; font-size: 24px; color: $sub-color2; height: 60px; font-weight: 300;  background-color: $black-color; border-radius: 40px; display: flex; justify-content: space-between; line-height: 45px;  transition: 0.8s;
        .arrow-right-circle{ background-color: $white-color; margin: 0 0 0 25px; transition: 0.8s; }
        &:hover, &:focus{
            outline: none; box-shadow: none;
        }

        &.btn-white{
            background-color: $white-color; color: $black-color; align-items: center;
            .arrow-right-circle{ background-color: $black-color; width: 40px; }
        }

        &.btn-red{
            background-color: $primary-color1; color: $white-color; align-items: center;
            .arrow-right-circle{ background-color: $white-color; width: 40px; }
        }

        &.btn-black-common{
            align-items: center; color:$white-color;

        }
    }
    &.button-common-div2{
        max-width: 100%; 
    }
}

.btn.btn-messages{
    padding: 10px 25px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    background-color: $primary-color1;
    border-radius: 0px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    font-weight: 600;
    max-width: 340px;
    width: 100%;
    transition: 0.8s;
    outline: none;
    box-shadow: none;
    position: relative;

    &::before{
        content: ""; background-color: $sub-color2; width: 100%; height: 1px; position: absolute; top: -10px; transition: 0.8s;
    }

    &::after{
        content: ""; background-color: $sub-color2; width: 180px; height: 1px; position: absolute;   bottom: -10px;  left: 0; right: 0; margin: 0 auto; transition: 0.8s; display: flex;
    }

    &:hover, &:focus{
        background-color: $primary-color2;outline: none;
        box-shadow: none;
    }
}

.lines-hr { display: block; height: 8px; background-color: $black-color; width: 100%;
    &.lines-hr32{ width: 32px; }
    &.lines-hr2{ width: 220px; background-color: $primary-color1; }
}

/* add svg icons */

.mouse-icon{  -webkit-mask: url(../images/icons/mouse.svg) no-repeat 50% 50%; mask: url(../images/icons/mouse.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 35px; height: 57px; background-color: $black-color; }
.arrow-right-circle{  -webkit-mask: url(../images/icons/arrow-right-circle.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-right-circle.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 35px; height: 40px; background-color: $black-color; border-radius: 100%; }
.arrow-up-circle{ background-color: $sub-color1-50; height: 40px; width: 40px; transform: rotate(270deg); }
.arrow-right1{  -webkit-mask: url(../images/icons/arrow-right1.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-right1.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 31px; height: 18px; background-color: $black-color; border-radius: 100%;  }

.service-circle1{ -webkit-mask: url(../images/icons/service1.svg) no-repeat 50% 50%; mask: url(../images/icons/service1.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 22px; height: 17px; background-color: $white-color; }
.service-circle2{ -webkit-mask: url(../images/icons/service2.svg) no-repeat 50% 50%; mask: url(../images/icons/service2.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 20px; height: 20px; background-color: $white-color; }
.service-circle3{ -webkit-mask: url(../images/icons/service3.svg) no-repeat 50% 50%; mask: url(../images/icons/service3.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 22px; height: 20px; background-color: $white-color; }
.service-circle4{ -webkit-mask: url(../images/icons/service4.svg) no-repeat 50% 50%; mask: url(../images/icons/service4.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 20px; height: 18px; background-color: $white-color; }

.payment-span{  -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain;  background-color: #3F3F3F; }
.amazonpay-icon{ mask: url(../images/icons/payment/amazonpay.svg) no-repeat 50% 50%; width: 180px; height: 35px; }
.visa-icon{ mask: url(../images/icons/payment/visa.svg) no-repeat 50% 50%; width: 111px; height: 36px; }
.paypal-icon{ mask: url(../images/icons/payment/paypal.svg) no-repeat 50% 50%; width: 149px; height: 40px; }
.applepay-icon{ mask: url(../images/icons/payment/applepay.svg) no-repeat 50% 50%; width: 120px; height: 57px; }
.transferwise-icon{ mask: url(../images/icons/payment/transferwise.svg) no-repeat 50% 50%; width: 197px; height: 46px; }
.payoneer-icon{ mask: url(../images/icons/payment/payoneer.svg) no-repeat 50% 50%; width: 136px; height: 48px; }
.skrill-icon{ mask: url(../images/icons/payment/skrill.svg) no-repeat 50% 50%; width: 113px; height: 39px; }
.stripe-icon{ mask: url(../images/icons/payment/stripe.svg) no-repeat 50% 50%; width: 119px; height: 49px; }

/*  End of general css */

.line-1 {
    height: 1px; width: 100%; background-color: $sub-color2; position: absolute; top: 78px;
}

.column-40{ padding: 0; margin: 0; flex: 0 0 40%; max-width: 40%; position: relative; display: flex;  }
.column-45{ padding: 0; margin: 0; flex: 0 0 45%; max-width: 45%; position: relative; display: flex;  }
.column-50{ padding: 0; margin: 0; flex: 0 0 50%; max-width: 50%; position: relative;   }
.column-55{ padding: 0; margin: 0; flex: 0 0 55%; max-width: 55%; position: relative; display: flex;  }
.column-60{ padding: 0; margin: 0; flex: 0 0 60%; max-width: 60%; position: relative; display: flex;  }
.column-100{ padding: 0; margin: 0; flex: 0 0 100%; max-width: 100%; position: relative; display: flex;  }

.color-project1{ color: #930D17; }

.menubar-header{  
    padding: 0; margin: 0; position: fixed; top: 0; left: 0; width: 78px; position: fixed; min-height: 100vh; background-color: $sub-color1-50; z-index: 999;
    .header-div{
        padding: 0; margin: 0; position: relative; 

        .logo-div{ padding: 0; margin: 0; 
            .logo_link{ padding: 0; margin: 0; background-color: $primary-color1; display: flex; justify-content: center; align-items: center; min-height: 78px; width: 100%; }
        }

        .nav-center-div{ padding: 0; margin: 0; height: calc( 100vh - 78px ); display: flex; align-items: center; justify-content: center;
            .nav-m-bar{ padding: 0; margin: 0; 
                .menu-icon{
                    padding: 0; margin: 0; position: relative; height: 16px; width: 38px; 
                    .bar{ position: absolute; left: 0;  width: 36px; 
                        .fill{ width: 100%; height: 1px; background-color: $black-color; transition: background-color .2s ease-in-out; will-change: transform; }
                    }
                    .bar.top{ top: 0; }
                    .bar.middle{ top: 50%; margin-top: -.5px; }
                    .bar.bottom{ bottom: 0; }
                }
            }
            .open-nav {
                display: flex; align-items: center; justify-content: center;
            }
        }

    }
}

.banner-section{
    padding: 0; margin: 0; position: relative;
    .banner-div{
        margin: 0 0 0 0px; min-height: 100vh; display: flex; width: 100%; position: relative;
        .content-div {
            min-height: 100vh; padding: 30px 60px; padding-top: 77px;     display: flex; align-items: flex-start; flex-direction: column; width: 100%; justify-content: center; z-index: 99;     position: relative;
            h1 { padding: 0; margin: 0; font-size: 3.625rem; font-weight: 300; color: $black-color; line-height: 86px; }
            .bold-line{ font-weight: 600; position: relative; }
            a{ font-weight: 600; position: relative; color: $black-color; padding: 0 5px 0 0; text-decoration: underline; text-decoration-color: $primary-color1; }
            .heading-content{ padding: 0; margin: 0 0 30px 0; }
            .mouse-icon-div{
                padding: 0; margin: 40px 0 0px 0; .link{ display: flex; }
            }

            position: relative;
            .scroll-to-work{
                position: absolute;
                left: 60px;
                bottom: 50px;
                height: 120px;
                margin-bottom: 50px;
                a {
                    text-decoration: none;
                    span {
                        color: #FAFAFA;
                        font-weight: 400;
                        font-size: 18px;
                        display: block;
                        
                        img {
                            padding-left: 20px;
                            height: 100px;
                        }
                    }
                }
                
            }
        }
    }
    img.banner-img {
        width: 100%; height: 100vh; object-fit: cover; position: absolute; top: 0; left: 0; opacity: 0;
    }
}

.new-project{  
    padding: 0; margin: 0; position: fixed; top: 0; right: 0; width: 60px; position: fixed; min-height: 100vh; background-color: $sub-color1-50; z-index: 999;
    .new-project-top-div{
        padding: 0; margin: 0; 
        .project-btn-link{ padding: 0; margin: 0; background-color: $transparent-color; border:none; display: flex; justify-content: center; align-items: center; min-height: 78px; width: 100%; }
    }
    .new-project-link-middle{
        padding: 0; margin: 0; height: calc( 100vh - 78px );     display: flex; align-items: center; justify-content: center;
        .transform-link {
            transform: rotate(90deg);
            min-width: auto;
            color: $sub-color3;
            font-size: 18px;
            font-weight: 300;
            display: flex; white-space: nowrap; width: 100%;     min-width: 345px; transition: 0.8s; letter-spacing: 8px;
            &:hover, &:focus{
                text-decoration: none; color: $sub-color2;
            }
        }
    }
}

.case-study-section{
    padding: 0; margin: 0; position: relative;
    .case-study-div{
        padding: 100px 60px; margin: 0; background-color: $primary-color2;  position: relative;
        .rect-div { position: absolute; left: -60px; width: 100%; height: 100%; background-color: $black-color; z-index: 0; top: 0; }
        .case-study-root{
            padding: 0px 0 0 0; margin: 80px 0 30px 0; position: relative; display: flex;  flex-direction: column;

            .content-text-div{ padding: 0 30px; max-width: 750px;
                h3{ padding: 0; margin: 0 0 40px 0; font-size: 3.625rem; font-weight: 600; color: white; line-height: 72px; }
                .span-color1 { color: $color1; }
                .span-color2 { color: $color2; }
                .span-color3 { color: $color3; }
                .span-color4 { color: $color4; }
                p { font-size: 16px; }
            }

            .case-study-banner{
                padding: 0 0 0 95px; margin: 80px auto 0 auto; width: 100%;  position: relative; display: flex; justify-content: center; align-items: center;
                .case-study-cover {
                    max-width: 1100px; width: 100%; height: 100%; max-height: 795px; object-fit: cover;
                }
                .scroll-btn-div{
                    padding: 0; margin: 0; height: 100%; width: 95px; display: flex; align-items: flex-end; justify-content: center; position: relative;
                    .scroll-btn {
                        padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; flex-direction: row; transform: rotate(90deg); font-size: 24px;
                        color: $sub-color1-50; text-transform: uppercase; font-weight: 300; letter-spacing: 10px; text-decoration: none;     position: absolute; bottom: 95px;
                        .arrow-down-circle{
                            background-color: $sub-color1-50; height: 53px; width: 53px; margin: 0 0 0 30px;
                        }
                    }
                }
            }

        }

        .slider-tab-fixed{
            padding: 0; margin: 0; position: fixed; top: 400px; left: 140px; z-index: 333;
           .slider-list-tabs {
                ul{ display: flex; flex-direction: column; list-style: none; }
                .slider-link {
                    height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; background-color: $black-color; border-radius: 100%; color: $white-color; margin: 0 0 10px 0; text-decoration: none; transition:all 0.8s; font-weight: 500; font-size: 12px; border: none;
                    &:hover, &:focus{
                        background-color: $white-color; color: $black-color; text-decoration: none;  
                    }
                }
                .slider-link.active{ background-color: $white-color; color: $black-color; }
                a.top { display: flex; align-items: center; justify-content: center; margin: 0 0 30px 0; }
            }
        }

        .case-study-root{
            &::before{
                content: ""; display: flex; height: calc( 100% - 170px ); width: 45%; background-color: $black-color; position: absolute; left: -60px;
            }
        }

        span.common-inherit { font-style: normal; color: $white-color; }

        .case-study-pattern2{
            .patter2-full{
                padding: 40px 0 0 240px;
            }
            &::before{
                content: ""; display: flex; height: 620px; width: calc(100% - 130px ); background-color: black; position: absolute; right: -60px; left: auto;
            }
        }

    }
}

.services-section{
    padding: 100px 0; margin: 0; position: relative;
    .services-div{
        padding: 0; 

        .heading-div {
            max-width: 1000px;
            h2 {  margin: 0 0 20px 0; font-size: 3.625rem; color: $black-color; }
        }

        .services-root{
            padding: 0; margin:60px 0 0 0; display: flex; flex-wrap: wrap;
            .services-box {
                padding: 50px 40px 40px 40px; margin: 0; flex: 0 0 50%; max-width: 50%; min-height: 250px; display: flex; border: 1px solid $transparent-color;
                .services-icons {
                    padding: 0 15px; min-width: 74px; background-color: $sub-color1; height: 74px; border-radius: 100%; display: flex;
                    background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%); border-radius: 100px; display: flex; align-items: center; justify-content: center;
                }
                .services-content {
                    width: calc(100% - 74px); padding: 0 20px 0 40px; margin: 0;
                    h4 { padding: 0; margin:0px 0 10px 0; font-size: 21px; font-weight: 700; color: $primary-color2; }
                    p { font-size: 15px; }
                    .link-box-div{ padding: 0; margin: 10px 0 0 0; position: relative; }
                    a.btn.btn-more {
                        padding: 0; margin: 0; font-size: 12px; text-transform: uppercase; font-weight: 600; color: $primary-color2; letter-spacing: 0.5px; transition: 0.8s;
                        &:hover, &:focus{
                            color: $primary-color1;
                        }
                    }
                }
                &.services-box1{ border-right:1px solid #DBDEE5; border-bottom:1px solid #DBDEE5;  }
                &.services-box2{ border-bottom:1px solid #DBDEE5; }
                &.services-box3{ border-right:1px solid #DBDEE5; }
            }
        }

    }
}

.footer-root{
    padding: 100px 0 30px 0; margin: 0; position: relative; background-color: $sub-color4;
    .messages-footer-div{
        padding: 0; position: relative;
        .messages-text-heading{
            padding: 0; margin: 0 0 50px 0; text-align: center; 
            h3{
                margin: 0 0 10px 0; font-size: 3.625rem; color: $primary-color2;
            }
        }
        .button-row{
            padding: 0; margin: 0px 0 20px 0; text-align: center;  display: flex; justify-content: center;
        }
    }

    .info-link-footer-div{
        padding: 0; position: relative;
        .contact-info-footer{
            padding: 0; margin: 80px 0 40px 0; position: relative;
            h5{ padding: 0; margin: 0px 0 5px 0; font-size: 22px; font-weight: 600; color:$black-color;  min-width: 80px; }
            p{ font-size: 21px; }
            .co-link { color: $sub-color2; margin: 0 0 0 10px;
            }
            .contact-info-row{
                padding: 0;  margin: 0px 0 5px 0; position: relative; display: flex;
                &.contact-info-row-full{
                    padding: 0;  margin: 0px 0 40px 0; position: relative; display: flex; flex-direction: column;
                }
            }
        }
        .footer-link{
            padding: 0; margin: 80px 0 0 0; position: relative;
            ul{
                padding: 0; margin: 80px 0 0 0; position: relative; list-style: none;
                li{ text-align: right; margin: 0 0 20spx 0; &:last-child{ margin:  0 0 0 0; } }
                a{ padding: 0; margin: 0; font-size: 22px; font-weight: 500; line-height: 36px; color: #212121; }
            }
        }
    }

    .bottom-footer-div{
        padding: 40px 0 0 0; position: relative; border-top: 1px solid rgba(114, 114, 114, 0.2);
        .messages-bottom-div{
            padding: 0; margin: 0; position: relative;
            p{ font-size: 22px; margin: 0 0 10px 0; }
            .link{ color: $primary-color2; }
        }
        .social-links-bottom{
            padding: 0; margin: 0; position: relative;
            ul{
                padding: 0; margin: 0px 0 0 0; position: relative; list-style: none; 
                li{ 
                    text-align: right; padding: 0 48px 0px 0; margin: 0 0 0px 0; display: inline-block; position: relative;  &:last-child{ margin:  0 0 0 0; } 
                    &:after{
                        content: ""; background: rgba(216,216,216,0.40); height: 8px; width: 8px;   position: absolute; display: inline-block; border-radius: 100%; right: 17px; top: 15px;
                    }
                    &:last-child{
                        padding: 0 0px 0px 0;
                        &:after{ display: none; }
                    }
                }
                a{ padding: 0; margin: 0; font-size: 22px; font-weight: 400; font-style: italic; line-height: 36px; color: #212121; }
            }    
        }
        
    }

}

/* Start Technology */


.technology-section{
    padding: 0; margin: 0; position: relative; background-color: $white-color;  
    .technology-div{
        padding: 100px 60px 50px 60px; margin: 0; position: relative;
        .heading-div {
            max-width: 1000px;
            h2 {  margin: 0 0 20px 0; font-size: 3.625rem; color: $primary-color2; }
            .link{ color: $primary-color2; }
        }
        .tech-root{
            padding: 0px 0 0 0; margin: 80px 0 30px 0; position: relative; display: flex;  flex-direction: column; flex-wrap: nowra
        }
    }
}        

.tech-box{
    border: 1px solid $sub-color3; display: flex; justify-content: space-between; overflow: hidden; margin: 0 0 100px 0;
    &:last-child{ margin: 0 0 50px 0; }
    h2{ padding: 0; margin: 0 0 20px 0; font-size: 58px; color:$primary-color2; letter-spacing: 0; line-height: 71px; }
    p{ color:$black-color; }
    
    .img-shape-div{
        position: relative; width: 100%;
        .shape-arrow-view { max-height: 580px; object-fit: cover;     position: absolute; top: 0; left: 0; }
        .shape-tech1 { position: absolute; left: -54px; top: 110px; }
        .top-260{ top:240px; }
    }

    .tech-content-div{ padding: 60px 110px 60px 80px; margin: 0 0 0px 0;
        .button-common-div { 
            .btn-common{ align-items: center; color: $white-color; 
                .arrow-right-circle{ background-color: $sub-color2;width: 40px; }
                &:hover, &:focus{
                    .arrow-right-circle{ background-color: $white-color !important; }
                }
            } 
        }
    }

    &.tech-box-left{
        
        .img-shape-div{
            .shape-arrow-view { right: 0; left: auto;  }
            .shape-tech1 { right: 10px; left: auto; top: 10px; }
        }
    }

}

.tech-icon-box-root{
    display: flex; flex-wrap: wrap;
    .tech-icon-box {
        margin: 0 20px 20px 0;
        background: $white-color;
        box-shadow: 0 2px 13px 0 rgba(237,237,237,0.56);
        border-radius: 4px;
        min-width: 77px;
        min-height: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.related-project-section{
    padding: 100px 60px; margin: 0; position: relative; background-color: $sub-color1; background-image: linear-gradient(0, #FFFFFF 0%, #FAFAFA 100%);
    .related-project-div{
        padding: 0; 

        .heading-div {
            max-width: 1000px;
            h2 {  margin: 0 0 20px 0; font-size: 3.625rem; color: $black-color; }
        }

        .project-item-box-root{
            padding: 80px 0px 0px 0px; margin: 0; position: relative;
            .img-thumb-banner{
                padding: 0px 0px; margin: 0;
                .img-project-banner { height: 500px; object-fit: contain; object-position: top; }
            }
            .project-content{
                padding: 0px 60px; margin: 0;
                h3 { font-weight: 600; font-size: 58px; color: $primary-color2; letter-spacing: 0; line-height: 71px; }
            }
        }

    }    
}

.career-link-section{
    padding: 290px 60px 100px 60px; margin: 0; position: relative; background-color: $sub-color1; background-image: linear-gradient(0, #FFFFFF 0%, #FAFAFA 100%);
    .career-link-div{
        padding: 0; 
        .link-root{
            padding: 0; margin: 0 0 40px 0;
            .careers-div{
                padding: 0; margin: 0; display: flex; align-items: center; text-decoration: none; transition: 0.8s;
                .number-span{ font-size: 20px; font-weight: 300; color: $black-color; line-height: 40px; font-style: italic; min-width: 40px; margin: 0 10px 0 0; ; }
                h4 { font-size: 38px; font-weight: 600; color: $primary-color2; letter-spacing: 0; line-height: 60px; margin: 0 40px 0 0; }
                .arrow-right1{ opacity: 0; }
                &:hover, &:focus{
                    .arrow-right1{ opacity: 1; }
                }
            }  
        }
        .career-p{
            padding: 0; margin: 60px 0 0 0;
        }
    }
}    

.interview-section{
    padding: 0; margin: 0; position: relative;
    .interview-div{
        padding: 100px 60px; margin: 0; background-color: $primary-color2;  position: relative;
        .content-div{
            padding: 40px 80px 40px 0px; 
        }
        .interview-thumb{
            padding: 0; margin: 0 auto; position: relative; display: flex; align-items: center; justify-content: center; transition: 0.8s;
            img{ padding: 0; margin: 0 auto; position: relative; width: 485px; object-fit: cover; transition: 0.8s; z-index: 2; }
            .outlined-box { border: 1px solid #979797; height: 100%; width: 580px; position: absolute; top: -50px; transition: 0.8s; }
            &:hover{
                .outlined-box{ top:0; width: 480px; border-color:transparent; }
            }
        }
    } 
}

.view-6-section{
    padding: 0; margin: 0; position: relative;
    .view-6-div{
        padding: 0px 0px; margin: 0; position: relative;
        .box-shadow{ box-shadow: 0 2px 13px 0 rgba(237,237,237,0.56); }
        .content-div{
            padding: 100px 80px 40px 100px; 
            p{ margin: 0 0 10px 0; }
            a.link{
                color: $primary-color2;
            }
        }
        
    } 
}

.career-details-section{
    padding: 290px 60px 100px 60px; margin: 0; position: relative;
    .career-details-div{
        margin: 0; position: relative;
        .content-div-root{
            padding: 10px 30px 10px 30px; 
            p{ margin: 0 0 30px 0; font-size: 22px; line-height: 40px; color: $black-color; }
            .link{ color: $primary-color2; }
            h2 { font-size: 48px; font-weight: 600; color: $primary-color2; letter-spacing: 0; line-height: 71px; margin: 0 0 35px 0; }
            .content-apply{
                li{ position: relative; padding: 0 0 0 100px;  margin: 0 0 30px 0; }
                p{ margin: 0; }
                .arrow-icons { display: flex; align-items: center; justify-content: center; height: 40px; width: 40px; background: rgba(239,245,247,0.50);     font-size: 20px; color: $sub-color2; border-radius: 100%; position: absolute; left: 0; top: 0;  }
            }
        }
        
        
    } 
}

.the-team-section{
    padding: 270px 60px 100px 60px; margin: 0; position: relative;
    .the-team-div{
        margin: 0; position: relative;
        .the-team-root  {
            padding: 50px 0px 0px 0px; margin: 0; position: relative;
            .team-box-div{
                margin: 0 0 60px 0;
                .team-position-div{
                    padding: 0px 0px; margin: 0 0 0 0; position: relative;
                    h4{ padding: 0px 0px; margin: 0 0 15px 0; font-weight: 600; font-size: 22px; color: $black-color; letter-spacing: 0; text-align: center; }
                    .the-class{
                        font-weight: 300; font-size: 20px; 
                    }
                }
                .team-thumb{
                    padding: 0; margin: 0 auto 25px auto; position: relative; display: flex; align-items: center; justify-content: center; transition: 0.8s; max-width: 280px;
                    img{ padding: 0; margin: 0 auto; position: relative; width: 260px; height: 265px; transition: 0.8s; z-index: 1; }
                    .part-team-text{ width: 260px; height: 265px; background-color:$sub-color2; z-index: 2; 
                        .apply-link-box { padding: 10px; display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; flex-direction: column; text-decoration: none; }
                        h3 {  padding: 0; margin: 0 auto 15px auto;     max-width: 175px; font-weight: 600; font-size: 28px; line-height: 46px; color: $white-color; letter-spacing: 0; text-align: center; }
                        p { opacity: 0.5; font-weight: 300; font-style: italic; font-size: 14px; color: $white-color; letter-spacing: 0; text-align: center; }
                    }
                    .outlined-box { border: 1px solid #979797; width: 260px; height: 265px; position: absolute; top: 10px; left: 0; transition: 0.8s; }
                    &:hover, &:focus{
                        .outlined-box{
                            border: 1px solid $primary-color2; background-color: $primary-color2;
                        }
                    }
                }
                .name-text{
                    padding: 0; margin: 0 auto; display: flex; justify-content: center;
                    h5 { padding: 0 10px 0 0;  font-weight: 600; font-size: 20px; color: $primary-color2; letter-spacing: -0.14px; width: 265px; display: flex; justify-content: flex-end; align-items: center; text-align: right; }
                }
            }
        }
    }
}        

.service-details-section{
    padding: 200px 0 0 0; margin: 0; position: relative; background-color: $white-color;  
    .service-details-div{
        padding: 100px 60px 60px 60px; margin: 0; position: relative;
        .heading-div {
            max-width: 1050px; 
            h2 {  margin: 0 0 60px 0; font-size: 3.625rem; color: $primary-color2; }
            .link{ color: $primary-color2; }
        }
        .service-details-root{
            padding: 0px 0 0 0; margin: 80px 0 30px 0; position: relative; display: flex;  flex-direction: column; flex-wrap: nowra
        }
    }
}        

.services-box-section{
    padding: 0; margin: 0; position: relative;
    .services-box-div{
        padding: 0px 0px; margin: 0; background-color: $black-color;  position: relative;
        .services-box-row{ padding: 0px 0px; margin: 0 0 0 0; position: relative; }
        .content-div{
            padding: 120px 80px 40px 0px; max-width: 700px; margin: 100px 0 0 0; position: relative;
            span.number-span {  position: absolute; top: 0; font-size: 160px; line-height: 160px; opacity: 0.5; border: 0 solid $white-color; font-weight: 600; color: $light-white-color2; letter-spacing: 0; font-style: italic; display: block; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-text-fill-color: rgba(255, 255, 255, 0) !important; -webkit-text-stroke-color: $light-white-color2 !important; -webkit-text-stroke-width: 1px; }
            h3 { font-size: 22px; color: $primary-color1; letter-spacing: 0; font-weight: 300; text-transform: uppercase; }
            h2 { font-weight: 300; }
            p{ font-size: 22px; }
        }
        .services-box-thumb{
            padding: 120px 0; margin: 0 80px 0 0; position: relative; display: flex; align-items: center; justify-content: flex-start; transition: 4s;
            img{ padding: 0; margin: 0; position: relative; width: calc(100% - 60px); object-fit: cover; transition: 0.8s; z-index: 2; }
            .outlined-box { border: 1px solid #979797; height: calc( 100% - 120px ); width: 100%; position: absolute; top: 0px; transition: 0.8s; opacity: 0.7;  z-index: 3; }
            .rect-fill-box { border: none; background-color: $primary-color2; height: calc( 100% - 130px); width: 100%; position: absolute; bottom: 0px; left: 0; transition: 0.8s; z-index: 1; }
            &:hover{
                img{ z-index: 3; }
                .outlined-box{ height: 100%; width: 60%; z-index: 2;  }
                .rect-fill-box{ height: 100%; width: 60%; z-index: 1; }
            }
        }
        .services-box-row2{
            .content-div{
                padding: 120px 0 40px 80px;
            }
            .services-box-thumb{
                margin: 0 0 0 80px;
                &:hover{
                    .outlined-box{ right:0; }
                    .rect-fill-box{ right:0; left: auto; }
                }
            } 
        }
    } 
}

.about-us-section{
    padding: 0; margin: 0; position: relative; background-image: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%);
    .about-us-div{
        padding: 100px 60px 100px 60px; margin: 0; position: relative;
        .heading-div {
            max-width: 1050px; 
            h2 {  margin: 0 0 60px 0; font-size: 3.625rem; color: $primary-color2; }
            .link{ color: $primary-color2; }
        }
        .payment-option-root{
            padding: 0; margin: 50px auto 0 auto; position: relative;  display: flex; flex-flow: wrap;     max-width: 1300px;
            .payment-option-box { 
                border: 1px solid #E4E4E4; min-height: 136px; display: flex; align-items: center; justify-content: center; width: 25%; 
                .logo-payment { 
                    padding: 0; margin: 0; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; 
                    &:hover{
                        background: #FFFFFF;
                        box-shadow: 0 2px 24px 0 rgba(209,209,209,0.50);
                        .payment-span{
                            background-color: #00AEA5; transition: 0.8s;
                        }
                    }
                    
                }
            }

        }

    }
}   


.committed-section{
    padding: 0; margin: 0; position: relative; background-image: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%);
    .committed-div{
        padding: 50px 60px 0px 60px; margin: 0; position: relative;
        // .backimg { position: absolute; top: 0; left: 0; width: 100%; }
    }
}    

.committed-root{
    padding: 0 0 100px 0; margin: 0; position: relative; border-bottom: 1px solid rgba(114, 114, 114, 0.2);
    h2 { font-size: 48px; font-weight: 600; color: $primary-color2; letter-spacing: 0; line-height: 71px; margin: 0 0 35px 0; }
    .content-apply{
        li{ position: relative; padding: 0 0 0 100px;  margin: 0 0 30px 0; }
        p{ margin: 0; }
        .arrow-icons { display: flex; align-items: center; justify-content: center; height: 40px; width: 40px; background: rgba(239,245,247,0.50);     font-size: 20px; color: $sub-color2; border-radius: 100%; position: absolute; left: 0; top: 0;  }
    }
}


.branding-section{
    padding: 80px 0px 0px 0px; margin: 0; position: relative; background-color: $sub-color1; background-image: linear-gradient(0, #FFFFFF 0%, #FAFAFA 100%);
    .branding-div{
        padding: 0; 
        .branding-root{ padding: 80px 50px 50px 50px; margin: 0 0 40px 0; background-color: $white-color; width: 100%; max-width: 1100px;
            .careers-div{
                padding: 0; margin: 0; display: flex; align-items: center; text-decoration: none; transition: 0.8s;
                .number-span{ font-size: 20px; font-weight: 300; color: $black-color; line-height: 40px; font-style: italic; min-width: 40px; margin: 0 10px 0 0; ; }
                h4 { font-size: 38px; font-weight: 600; color: $primary-color2; letter-spacing: 0; line-height: 60px; margin: 0 40px 0 0; }
                .arrow-right1{ opacity: 0; }
                &:hover, &:focus{
                    .arrow-right1{ opacity: 1; }
                }
            }  
        }
        .img-brand { position: absolute; top: 0; left: 0; width: 100%; }
        .career-p{
            padding: 0; margin: 60px 0 0 0;
        }
    }
} 

.img-banner-section{
    padding: 0; margin: 0; position: relative; 
    .img-banner-div{
        padding: 0x; margin: 0; position: relative;
        .img-full{
            width: 100%; max-height: 400px; object-fit: cover;
        }
    }
}   



.banner-content-workdetail {
    .arrrow-div {
        a {
            margin: 0;
            padding: 0;
            display: inline-block;
            img {
                max-width: 400px;
                margin-left: -14px;
            }
        }
    }
}


/* Start Technology */



// footer section start here

.footer-root{
    padding: 100px 0 40px 0;
    .footer-inner {
        background-image: url(../images/footer-line-logo.png);
        background-repeat: no-repeat;
        background-position: -20% top;
        background-size: auto;

        .container-fluid{
            padding-left: 0;
            padding-right: 0;
        }
        .container-lg-2 {
            padding-left: 120px;
            padding-right: 120px;
        }
        .contact-info-footer {
            p {
                line-height: 40px;
            }
            .contact-info-row{
                text-align: right;
                justify-content: flex-end;
                margin-bottom: 50px !important;
            }
        }
        .messages-text-heading{
            margin: 0 0 60px 0;
        }
        .button-row{
            margin: 0 0 100px 0;
        }
        .footer-link{
           ul {
               li {
                text-align: left;
                margin: 0 0 20px 0;
               }
           }
        }
        .bottom-footer-div {
            .messages-bottom-div{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-top: 10px;
                p {
                    margin: 0;
                    span {
                        font-weight: 600;
                        color: #000000;
                    }
                }
            }
        }

        .social-links-bottom{
            ul {
                display: flex;
                li {
                    padding-right: 28px;
                    list-style: none;
                    display: inline-block;
                    a {
                        background: #FFFFFF;
                        box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        height: 48px;
                        width: 48px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #000000;
                            transition: all 0.3s ease-in-out;
                            .icon-svg {
                                background-color: #ffffff;
                              
                            }
                        }
                        .icon-svg {
                            display: inline-block;
                            vertical-align: middle;
                            mask-size: contain;
                            background-color: #000000;
                        
                            
                        }
                        .icon-facebook {
                            -webkit-mask: url(../images/icons/facebook.svg) no-repeat 50% 50%;
                            mask: url(../images/icons/facebook.svg) no-repeat 50% 50%;
                            -webkit-mask-size: contain;
                            width: 11px;
                            height: 20px;
                        }
                        .icon-instagram {
                            -webkit-mask: url(../images/icons/instagram.svg) no-repeat 50% 50%;
                            mask: url(../images/icons/instagram.svg) no-repeat 50% 50%;
                            -webkit-mask-size: contain;
                            height: 19px;
                            width: 19px;
                        }   
                        
                        .icon-twitter {
                            -webkit-mask: url(../images/icons/twitter.svg) no-repeat 50% 50%;
                            mask: url(../images/icons/twitter.svg) no-repeat 50% 50%;
                            -webkit-mask-size: contain;
                            height: 18px;
                            width: 22px;
                        }
                        .icon-linkedin {
                            -webkit-mask: url(../images/icons/linkedin.svg) no-repeat 50% 50%;
                            mask: url(../images/icons/linkedin.svg) no-repeat 50% 50%;
                            -webkit-mask-size: contain;
                            height: 18px;
                            width: 19px;
                        }
                        .icon-behance {
                            -webkit-mask: url(../images/icons/Behance.svg) no-repeat 50% 50%;
                            mask: url(../images/icons/Behance.svg) no-repeat 50% 50%;
                            -webkit-mask-size: contain;
                            height: 16px;
                            width: 24px;
                        }   
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .contact-info{
            ul {
                display: flex;
                li {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a.contact-icon {
                       
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                          
                        .icon-svg{
                              
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #FFFFFF;
                            box-shadow: 0 5px 17px 0 rgba(0,0,0,0.06);
                            border-radius: 100%;
                            height: 72px;
                            width: 72px;
                            z-index: 2;
                            position: relative;
                            
                        }
                      
                        .contact-icon-slide{
                            height: 72px;
                            width: 72px;
                            background-color: #F2F2F2;
                            border-radius: 100px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            transition: all .6s ease-in-out;
                            z-index: 1;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            padding: 20px 30px;
                            p{opacity: 0; transition: all .6s ease-in-out;
                            width: 0;
                            text-align: left;
                            overflow: hidden;
                            line-height: normal;
                        }
                        }
                        
                        &:hover {
                           
                            .contact-icon-slide{
                                width: 300px;
                                transition: all .6s ease-in-out;
                                p{opacity: 1; transition: all .6s ease-in-out;
                                width: 100%;}
                            } 
                        }
                       
                    }
                    transition: all .6s ease-in-out;
                    &:hover {
                        margin-left: 220px;
                        transition: all .6s ease-in-out;
                    }
                   
                }
            }
        }
    } 
}


// footer end

// project container
#pinContainer {
    overflow: hidden;
}

#slideContainer {
    width: 400%;
    height: 100%;
    min-height: 100vh;
}
.panel {
    padding: 70px 0 50px 0;
    height: 100%;
    width: 25%;
    float: left;
    max-width: 1440px;
    min-height: 100vh;
    max-height: 100vh;
    background-color:#ffffff;
}



.project-container-main{
    position: relative;
    min-height: 100vh;
    .project-menu{
        z-index: 99;
        left: 120px;
        bottom: 55px;
        position: absolute;
        display: flex;
        align-items: center;

        &::after {
                content: '';
                position: absolute;
                width: 80px;
                height: 1px;
                background-color: #B9B9B9;
                bottom: 25px;
                right: -80px;
            }
        .img-menu {
            height: 60px;
            width: 60px;
            border-radius: 100%;
            background-color: #000000; 
            display: flex;
            align-items: center;
            justify-content: center;
        }
        ul 
        {
            list-style: none;
            margin: 0;
            padding: 0 0 0 10px;

            
            li {
                display: inline-block;
                a {
                    font-size: 24px;
                    padding: 0 20px;
                    color: #727272;
                    text-decoration: none;
                }
                a.active {
                    color: #000000;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 4px;
                        background-color: #ed5c37;
                        bottom: -8px;
                        left: 20px;
                    }
                }
            }
        }
    }


    .conatiner-fluid{
                    padding: 0;
    }
    .container-lg-2{
                    padding-left: 140px;
                    padding-right: 140px;
    }

    .project-one{
                    h2 {
                                font-size: 58px;
                                color: #0C0C0C;
                                letter-spacing: 0;
                                line-height: 71px;
                                margin-bottom: 30px;
                                font-weight: 600;
                                }
                                .span-block {
                                    display: block;
                                }
                        
                                p {
                                    margin-bottom: 60px;
                                    font-size: 24px;
                                    color: #727272;
                                    letter-spacing: 0;
                                }
                        
                                .project-img{
                                    max-height: 450px;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                    }
                                }
                                position: relative;
                                .squre-shape{
                                    height: 500px;
                                    width: 740px;
                                    background-color: #FAFAFA;
                                    position: absolute;
                                    bottom: 0;
                                    right: -30%;
                                    z-index: 1;
                                }
                                
    }

    .project-two{
     
        .project-content-two{
            position: relative;
            z-index: 99;
            h2 {
                font-size: 58px;
                color: #930D17;
                letter-spacing: 0;
                line-height: 71px;
                margin-bottom: 30px;
                font-style: italic;
                font-weight: 600;
                span {
                    font-style: normal;
                }
                }
                .span-block {
                    display: block;
                    color: #000000;
                }
        
                p {
                    margin-bottom: 60px;
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                }
        
                .project-img{
                    z-index: 2;
                    position: relative;
                    max-height: 450px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }

                .sub-heading{
                    
                    margin-bottom: 37px;
                    .br-1 {
                        border-right: 1px solid #D6D6D6;
                        padding-right: 110px;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                        line-height: 25px;
                        color: #727272;
                        font-weight: 300;
                    }
                   
                    h3 {
                        font-size: 16px;
                        line-height: 25px;
                        color: #727272;
                        font-weight: 500;
                    }
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                        color: #000000;
                        font-style: italic;
                        text-decoration: underline;
                    }
                }

                .btn-case-study{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: 100%;

                
                    .btn-case  {
                        border-radius: 100px;
                        border-color: #99A7A8;
                        margin-top: 20px;
                        span {
                            padding: 0 20px;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #f2f2f2;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    
                }
            }

            position: relative;
            .squre-shape{
                height: 500px;
                width: 740px;
                background-color: #FAFAFA;
                position: absolute;
                top: 0;
                right: -30%;
                z-index: 1;
            }
    }
    .project-three{
        position: relative;
        z-index: 99;
        background-color: #ffffff;
            .project-content-three{
                position: relative;
                z-index: 99;
                h2 {
                    font-size: 58px;
                    color: #ED5C37;
                    letter-spacing: 0;
                    line-height: 71px;
                    margin-bottom: 30px;
                    font-style: italic;
                    font-weight: 600;
                    span {
                        font-style: normal;
                    }
                    }
                    .span-block {
                        display: block;
                        color: #000000;
                    }
            
                    p {
                        margin-bottom: 60px;
                        font-size: 24px;
                        color: #727272;
                        letter-spacing: 0;
                    }
            
                    .project-img{
                        z-index: 2;
                        position: relative;
                        max-height: 450px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
    
                    .sub-heading{                        
                        margin-bottom: 37px;
                        .br-1 {
                            border-right: 1px solid #D6D6D6;
                            padding-right: 110px;
                        }
    
                        p {
                            margin-bottom: 0;
                            font-size: 16px;
                            line-height: 25px;
                            color: #727272;
                            font-weight: 300;
                        }
                       
                        h3 {
                            font-size: 16px;
                            line-height: 25px;
                            color: #727272;
                            font-weight: 500;
                        }
                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 25px;
                            color: #000000;
                            font-style: italic;
                            text-decoration: underline;
                        }
                    }
    
                    .btn-case-study{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        width: 100%;
    
                    
                        .btn-case  {
                            border-radius: 100px;
                            border-color: #99A7A8;
                            margin-top: 20px;
                            span {
                                padding: 0 20px;
                            }
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                background-color: #f2f2f2;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                        
                    }
                }

                position: relative;
                .squre-shape{
                    height: 500px;
                    width: 740px;
                    background-color: #FAFAFA;
                    position: absolute;
                    bottom: 0;
                    right: -30%;
                    z-index: 1;
                }
    }

    .project-four{
        .project-content-four{
            position: relative;
            z-index: 99;
            h2 {
                font-size: 58px;
                color: #00AEA5;
                letter-spacing: 0;
                line-height: 71px;
                margin-bottom: 30px;
                font-style: italic;
                font-weight: 600;
                span {
                    font-style: normal;
                    color: #000000;
                }
                }
                .span-block {
                    display: block;
                    color: #000000;
                }
        
                p {
                    margin-bottom: 60px;
                    font-size: 24px;
                    color: #727272;
                    letter-spacing: 0;
                }
        
                .project-img{
                    z-index: 2;
                    position: relative;
                    max-height: 450px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }

                .sub-heading{                        
                    margin-bottom: 37px;
                    .br-1 {
                        border-right: 1px solid #D6D6D6;
                        padding-right: 110px;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                        line-height: 25px;
                        color: #727272;
                        font-weight: 300;
                    }
                   
                    h3 {
                        font-size: 16px;
                        line-height: 25px;
                        color: #727272;
                        font-weight: 500;
                    }
                    a {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                        color: #000000;
                        font-style: italic;
                        text-decoration: underline;
                    }
                }

                .btn-case-study{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: 100%;

                
                    .btn-case  {
                        border-radius: 100px;
                        border-color: #99A7A8;
                        margin-top: 20px;
                        span {
                            padding: 0 20px;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #f2f2f2;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    
                }
            }

            position: relative;
            .squre-shape{
                height: 420px;
                width: 740px;
                background-color: #FAFAFA;
                position: absolute;
                top: 0;
                right: -30%;
                z-index: 1;
            }
    }
    
    .project-five{

    width: 100%;
    padding: 0 0 0 0;
    max-width: 1800px;

    .container-lg {padding-left: 0 !important;padding-right: 0 !important;}
    
        .project-content-five{
            position: relative;
            z-index: 99;
                .project-img{
                    z-index: 2;
                    position: relative;
                    margin-bottom: 0;
                    max-height: 400px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                .view-all-section{
                    display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        width: 100%;
                        height: 50vh;
                    .view-all-project{
                        padding: 40px 180px 40px 100px;
                        background-color: #181818;
                        margin: 0;
                        width: 60%;
                        height: 100%;
                        

                        h2 {
                            font-size: 58px;
                            color: #ffffff;
                            letter-spacing: 0;
                            line-height: 71px;
                            margin-bottom: 30px;
                            font-weight: 600;
                            span{color:#ed5c37}
                        
                        }
                        
                    }
                }   

                
              
                .btn-case-study{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    width: 100%;

                
                    .btn-case  {
                        border-radius: 100px;
                        border-color: #99A7A8;
                        background-color: #ffffff;
                        margin-top: 20px;
                        span {
                            padding: 0 20px;
                        }
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #f2f2f2;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    
                }
            }
    }
}

.ourtechnology-section {
    padding: 100px 60px 100px 60px;
    margin: 0;
    position: relative;

    .heading-div {
        max-width: 1000px;
        margin-bottom: 80px;
        h2 {
            margin: 0 0 20px 0;
            font-size: 3.625rem;
            color: #181818;
            line-height: 72px;
            font-weight: 600;

            a {
                color: #181818;
                position: relative;
                text-decoration: none;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 8px;
                    left: 5px;
                    width: 250px;
                    height: 5px;
                    display: inline-block;
                    border-radius: 100px;
                    background-color: #ed5c37;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 8px;
                    right: 5px;
                    width: 75px;
                    height: 5px;
                    display: inline-block;
                    border-radius: 100px;
                    background-color: #ed5c37;
                }
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 24px;
                font-weight: 300;
                color: #727272;
            }
        }
    }

    .our-technology-listing{
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        
        .technology-box{
            width: 25%;
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            min-height: 300px;
            background-color: transparent;
            border: 1px solid #E4E4E4;
            margin-top: -1px;
            margin-left: -1px;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                line-height: 46px;
                color: #181818;
                font-weight: 600;
                text-decoration: none;
                position: relative;
                transition: all .3s ease-in-out;
                .hover-description{
                    background-color: #ffffff;
                    padding: 30px 33px;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    text-align: center;
                    transition: all .3s ease-in-out;
                    h3 {
                        font-size: 30px;
                        color: #000000;
                        margin-bottom: 25px;
                        font-weight: 600;
                    }
                    p {
                        font-size: 12px;
                        line-height: 22px;
                        color: #727272;
                        margin-bottom: 20px;
                        font-weight: 400;
                    }
                    p {
                        
                        span {
                            font-size: 12px;
                            line-height: 22px;
                            color: #000000;
                            font-weight: 400;
                        }
                    }
                    .btn-learn-more{
                        display: block;
                        background-color: #ed5c37;
                        border-radius: 100px;
                        line-height: 22px;
                        padding: 9px 52px;
                        color: #ffffff;
                        font-weight: 600;
                        position: absolute;
                        bottom: -20px;
                        margin: 0 auto;
                        min-height: 40px;
                        &:hover {
                            background-color: #F26820;
                        }
                    }
                }
                &:hover {
                    .hover-description{
                        opacity: 1;
                        transform: scale(1.15);
                    }
                }
            }
        }
    }


    .bg-ourtechnology{
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        opacity: 0;
        &::before {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000000;
            opacity: 0.6;
        }
    }

   
}
// on hover
.ourtechnology-section.hover-added {

    .heading-div {

        h2 {
            color: #ffffff !important;
            a {
                color: #ffffff !important;
            }

           
        }
        p {
            color: #ffffff !important;
        }
    }
    .our-technology-listing{

        
    

        .technology-box{
            a {
                color: #ffffff !important;
            }
    }
    }

    // .bg-ourtechnology{
    //     opacity: 1;
    // }

}


.testimonial-section {
    padding: 100px 60px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;

    .testimonial-inner {
        height: 100%;
        overflow: hidden;
        .testimonial-img{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 20px;
            .testi-thumb{
                position: relative;
                width: 280px;
                z-index: 99;
                .outlined-box {
                    border: 1px solid #979797;
                    width: 280px;
                    height: 380px;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    -webkit-transition: 0.8s;
                    transition: 0.8s;
                    z-index: 0;
                }

                &:hover {
                    .outlined-box {
                        border: 1px solid #181818;
                        background-color: #181818;
                    }
                }
            }
            
            .owner-img{
                height: 280px;
                width: 280px;
                overflow: hidden;
                position: relative;
                z-index: 99;
                img {
                    width: 100%;
                }
            }
            .owner-info {
                position: relative;
                z-index: 99;
                background-color: #181818;
                width: 100%;
                max-width: 280px;
                padding: 20px 30px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                h3 {

                    font-size: 22px;
                    color: #FFFFFF;
                    letter-spacing: -0.2px;
                    text-align: center;
                    line-height: 24px;
                    margin-bottom: 10px;
                    font-weight: 700;
                   
                    
                }

                p {
                    font-size: 16px;
                    color: #727272;
                    letter-spacing: 0.67px;
                    text-align: center;
                }
            }
        }

        .testimonial-content {
            padding-right: 100px;
            .quote-img{
                background: #FFFFFF;
                box-shadow: 0 12px 14px 0 rgba(0,0,0,0.08);
                height: 78px;
                width: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                img {
                    width: auto;
                }
            }

            h3  {
                font-size: 22px;
                color: #181818;
                letter-spacing: 0.12px;
                line-height: 24px;
                margin-bottom: 36px;
                span {
                    position: relative;
                    display: inline-block;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -8px;
                        left: 0px;
                        width: 75px;
                        height: 4px;
                        display: inline-block;
                        border-radius: 100px;
                        background-color: #ed5c37;
                    }
                }
            }

            P {
                font-size: 16px;
                color: #181818;
                letter-spacing: 0.09px;
                line-height: 26px;
                margin-bottom: 20px;
                font-weight: 400;
            }

        }

        .owl-nav{
            margin-top: 50px;
            padding-left: 180px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            button {
                box-shadow: none;
                outline: 0;
                background-color: transparent !important;
            }

        }
        
    }
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        background-color: #F2F2F2;
        height: 100%;
        width: 28%;
        display: block;
    }
}


.hire-developer{
    padding: 80px 60px;
    background-color: #181818;
    min-height: 360px;
    width: 100%;
    background-image: url('../images/hire-developer.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 35%;
        height: 100%;
        right: 0;
        top: 0;
        display: block;
        z-index: 0;
        background-image: linear-gradient(270deg, rgba(53,53,53,0.78) 0%, #181818 92%);
    }
    .hire-developer-content{
        z-index: 99;
        position: relative;
        h3 {
            font-size: 58px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 87px;
            font-weight: 600;
            margin-bottom: 10px;
            span {
            font-size: 58px;
            color: #ED5C37;
            letter-spacing: 0;
            }
        }
        p{
            font-size: 22px;
            color: #727272;
            letter-spacing: 1px;
            width: 50%;
            margin-bottom: 20px;
        }

        a {
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 1px;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                display: block;
                margin-left: 20px;
                margin-top: 2px;
            }
        }
    }

}


.sitemap-section {
    background-color: #ffffff;
    padding: 60px 60px;
    .sitemap-inner{
        .sitemap-box{
            background-color: #ffffff;
            border: 1px solid #E4E4E4;
            width: 100%;
            padding: 40px 30px;
            margin-bottom: 30px;
            h3 {
                font-size: 24px;
                color: #000000;
                letter-spacing: 0;
                margin-bottom: 28px;
                font-weight: 600;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li{                    
                    margin-bottom: 40px;
                    padding-left: 40px;
                    display: block;
                    position: relative;
                    &:before {
                        content: "\e912";
                        font-family: Feather!important;
                        font-style: normal;
                        font-weight: 400;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        position: absolute;
                        left: 2px;
                        color: #E7E7E7;;
                        font-size: 22px;
                        display: flex;
                        align-items: center;
                        height: 100%;
                    } 
                    a {
                        font-size: 20px;
                        color: #666666;
                        letter-spacing: 0;
                        display: block;
                        text-decoration: none;
                    }

                    &:hover {
                        transition: all .4s ease-in-out;
                        a {color: #ED5C37;}
                        &:before {
                            color: #ed5c37
                        }
                    }

                  &:last-child{
                      margin-bottom: 0;
                  }
                }
                
            }
        }
    }
}


.faq-section {
    background-color: #ffffff;
    padding: 60px 60px;
    .faq-inner{

        .faq-tabs{
            .nav-tabs {
                border-bottom: 0;
                    li {
                        a {
                            background-color: #ffffff;
                            padding: 12px 20px;
                            display: block;
                            font-size: 22px;
                            color: #8E8E8E;
                            text-align: center;
                            text-decoration: none;
                            border: 1px solid #E4E4E4;
                            transition: all 0.6 ease-in-out;
                            &:hover {
                                background: #181818;
                                color: #FFFFFF;
                                transition: all 0.6 ease-in-out;
                            }
                        }
                        a.active {
                            background: #181818;
                            color: #FFFFFF;
                            span {
                                display: inline-block;
                                position: relative;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    right: -5px;
                                    bottom: 8px;
                                    height: 4px;
                                    width: 4px;
                                    background-color: #FF2D3D;
                                    border-radius: 100%;
                                    z-index: 99;
                                }   
                                
                            }
                           
                        }
                        margin-right: 20px;
                }
            }
            .tab-content{
                min-height: 400px;
                margin-top: 60px;


                .accordion{
                    .card {
                        margin-bottom: 20px;
                        background-color: #ffffff;
                        .card-header{
                            background-color: #ffffff;
                            border: 1px solid #E4E4E4;

                            h2 {
                                
                                button {
                                    font-size: 24px;
                                    color: #303030;
                                    line-height: 35px;
                                    text-decoration: none;
                                    text-align: left;
                                    display: flex;
                                    flex-direction:row-reverse;
                                    align-content: center;
                                    justify-content: space-between;
                                    align-items: center;
                                    width:  100%;
                                    span {
                                    color: #181818;
                                    font-weight: 600;
                                    }

                                    i {
                                        position: relative;
                                       
                                        height: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        align-content: center;
                                        width: 40px;
                                        min-width: 40px;
                                        border-radius: 100%;
                                        background: #FFFFFF;
                                        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
                                        transform: rotate(90deg);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                                button.collapsed {
                                    i {
                                        transform: rotate(0deg);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                               
                            }
                        }

                        .card-body {
                            padding: 30px 28px;
                            p{
                                font-size: 18px;
                                color: #181818;
                                letter-spacing: -0.09px;
                                line-height: 32px;
                            }
                        }
                    }
                }
            }
        }

    }
}


.project-view-section {
    .all-workslider {
        .all-wrok-box {
            padding: 30px 20px 20px 20px;
            border: 1px solid rgba(153, 167, 168, 0.2);
            margin-bottom: 30px;
        }

        .work-tabs{
            .nav-tabs {
                border-bottom: 0;
                    li {
                        a {
                            background-color: #ffffff;
                            padding: 12px 20px;
                            display: block;
                            font-size: 22px;
                            color: #8E8E8E;
                            text-align: center;
                            text-decoration: none;
                            border: 1px solid #E4E4E4;
                            transition: all 0.6 ease-in-out;
                            &:hover {
                                background: #181818;
                                color: #FFFFFF;
                                transition: all 0.6 ease-in-out;
                            }
                        }
                        a.active {
                            background: #181818;
                            color: #FFFFFF;
                            span {
                                display: inline-block;
                                position: relative;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    right: -5px;
                                    bottom: 8px;
                                    height: 4px;
                                    width: 4px;
                                    background-color: #FF2D3D;
                                    border-radius: 100%;
                                    z-index: 99;
                                }   
                                
                            }
                           
                        }
                        margin-right: 20px;
                }
            }
            .tab-content{
                min-height: 400px;
                margin-top: 60px;
        
        
                .accordion{
                    .card {
                        margin-bottom: 20px;
                        background-color: #ffffff;
                        .card-header{
                            background-color: #ffffff;
                            border: 1px solid #E4E4E4;
        
                            h2 {
                                
                                button {
                                    font-size: 24px;
                                    color: #303030;
                                    line-height: 35px;
                                    text-decoration: none;
                                    text-align: left;
                                    display: flex;
                                    flex-direction:row-reverse;
                                    align-content: center;
                                    justify-content: space-between;
                                    align-items: center;
                                    width:  100%;
                                    span {
                                    color: #181818;
                                    font-weight: 600;
                                    }
        
                                    i {
                                        position: relative;
                                       
                                        height: 40px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        align-content: center;
                                        width: 40px;
                                        min-width: 40px;
                                        border-radius: 100%;
                                        background: #FFFFFF;
                                        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
                                        transform: rotate(90deg);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                                button.collapsed {
                                    i {
                                        transform: rotate(0deg);
                                        transition: all 0.5s ease-in-out;
                                    }
                                }
                               
                            }
                        }
        
                        .card-body {
                            padding: 30px 28px;
                            p{
                                font-size: 18px;
                                color: #181818;
                                letter-spacing: -0.09px;
                                line-height: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}




/* page not found */

.page-not-found-section{ 
    margin: 0; padding: 0; position: relative; background: url("../images/cloud.svg") no-repeat;background-size: cover; background-position: center;
    height: 100%; min-height: 100vh; display: flex;justify-content: center;
    .page-not-found-div{
        margin: 0; padding: 0;text-align: center;
        .page-not-thumb{
            margin: 0 auto; padding: 0; 
            img{ margin: 0 auto; }
        }
        .page-not-content{
            margin: 40px auto 0 auto; padding: 0; max-width: 685px;
            h3 { padding: 0; margin: 0 0 20px 0; font-size: 48px; line-height: 67px; font-weight: 500; }
            p { padding: 0 0 10px 0; margin: 0 0 0 0; font-size: 18px; line-height: 25px; font-weight: 500;  }
            .button-common-div{
                display: flex;
                justify-content: center;
            }
        }
    }
}


/* End of page not found */


@media (min-width: 1025px) {
   
}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {
    
    .menubar-header { width: 100%; min-height: 78px; 
        .header-div {
            display: flex; justify-content: space-between; background-color: $white-color;
            .logo-div { width: 78px; }
            .nav-center-div{ height: 78px; width: 78px; position: absolute; right: 0; background-color: $sub-color1-50; }
        }
    }

    .new-project { top: auto; right: 0; height: 50px; width: 100%; bottom: 0; min-height: 50px;  display: flex; background-color: $sub-color1;
        .new-project-top-div { 
            .project-btn-link {
                min-height: auto;
                width: auto;
                height: 50px;
                .arrow-right-circle{ height: 35px; width: 35px; margin: 0 10px 0 10px; }
            }
        }
        .new-project-link-middle{
            height: 50px; 
            .transform-link{
                transform: none; font-size: 16px; letter-spacing: 4px;
                
            }
        }
    }


    /* later */

    .case-study-section .case-study-div .slider-tab-fixed{ display: none; }

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1366px) {

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}