@charset "UTF-8";

/* colors */

/* End of colors */

/* default css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1300px;
}

.container-fluid {
  width: 100%;
  padding: 0 60px 0 78px;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

.span-block {
  display: block;
}

p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: #727272;
}

button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* End of default css */

.heading-div {
  padding: 0;
  margin: 0 0 10px 0;
}

.heading-div h2 {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 3.625rem;
  font-weight: 600;
  color: white;
  line-height: 72px;
}

.heading-div .link1 {
  font-weight: 600;
  position: relative;
  color: white;
  padding: 0 5px 0 0;
  text-decoration: none;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
  position: relative;
}

.heading-div .link1::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 3px;
  width: 45px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.heading-div .link1::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 170px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.heading-div .link2 {
  font-weight: 600;
  position: relative;
  color: black;
  padding: 0 5px 0 0;
  text-decoration: none;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.heading-div .link2::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 3px;
  width: 98px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.heading-div .link2::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 50px;
  width: 160px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.heading-div .link3 {
  font-weight: 600;
  position: relative;
  color: black;
  padding: 0 5px 0 0;
  text-decoration: none;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
  display: inline-block;
}

.heading-div .link3::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 3px;
  width: 98px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.heading-div .link3::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: 15px;
  width: 30px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.button-common-div {
  padding: 0;
  margin: 40px auto 0 auto;
  position: relative;
  width: 100%;
  max-width: 1100px;
  display: -webkit-box;
  display: flex;
}

.button-common-div .btn-common {
  padding: 10px 10px 10px 25px;
  margin: 0;
  font-size: 24px;
  color: #727272;
  height: 60px;
  font-weight: 300;
  background-color: black;
  border-radius: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  line-height: 45px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button-common-div .btn-common .arrow-right-circle {
  background-color: white;
  margin: 0 0 0 25px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button-common-div .btn-common:hover,
.button-common-div .btn-common:focus {
  outline: none;
  box-shadow: none;
}

/* add svg icons */

.mouse-icon {
  -webkit-mask: url(/images/mouse.svg?2a7cc685e90118418afb158be22e05ad) no-repeat 50% 50%;
  mask: url(/images/mouse.svg?2a7cc685e90118418afb158be22e05ad) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 35px;
  height: 57px;
  background-color: black;
}

.arrow-right-circle {
  -webkit-mask: url(/images/arrow-right-circle.svg?acb54a1dd462d1b7b44a1f40be291002) no-repeat 50% 50%;
  mask: url(/images/arrow-right-circle.svg?acb54a1dd462d1b7b44a1f40be291002) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 40px;
  height: 40px;
  background-color: black;
}

.arrow-up-circle {
  background-color: rgba(239, 245, 247, 0.5);
  height: 40px;
  width: 40px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

/*  End of general css */

.line-1 {
  height: 1px;
  width: 100%;
  background-color: #727272;
  position: absolute;
  top: 78px;
}

.column-40 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.column-45 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 45%;
  max-width: 45%;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.column-55 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 55%;
  max-width: 55%;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.column-60 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.column-100 {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
}

.menubar-header {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 78px;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(239, 245, 247, 0.5);
  z-index: 999;
}

.menubar-header .header-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.menubar-header .header-div .logo-div {
  padding: 0;
  margin: 0;
}

.menubar-header .header-div .logo-div .logo_link {
  padding: 0;
  margin: 0;
  background-color: #ed5c37;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 78px;
  width: 100%;
}

.menubar-header .header-div .nav-center-div {
  padding: 0;
  margin: 0;
  height: calc( 100vh - 78px );
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.menubar-header .header-div .nav-center-div .nav-m-bar {
  padding: 0;
  margin: 0;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon {
  padding: 0;
  margin: 0;
  position: relative;
  height: 16px;
  width: 38px;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar {
  position: absolute;
  left: 0;
  width: 36px;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  will-change: transform;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar.top {
  top: 0;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar.middle {
  top: 50%;
  margin-top: -0.5px;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar.bottom {
  bottom: 0;
}

.menubar-header .header-div .nav-center-div .open-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  margin: 0 0 0 0px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  width: 100%;
  position: relative;
}

.banner-section .banner-div .content-div {
  min-height: 100vh;
  padding: 30px 60px;
  padding-top: 77px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 99;
  position: relative;
}

.banner-section .banner-div .content-div h1 {
  padding: 0;
  margin: 0;
  font-size: 3.625rem;
  font-weight: 300;
  color: black;
  line-height: 86px;
}

.banner-section .banner-div .content-div .bold-line {
  font-weight: 600;
  position: relative;
}

.banner-section .banner-div .content-div a {
  font-weight: 600;
  position: relative;
  color: black;
  padding: 0 5px 0 0;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.banner-section .banner-div .content-div .heading-content {
  padding: 0;
  margin: 0 0 30px 0;
}

.banner-section .banner-div .content-div .mouse-icon-div {
  padding: 0;
  margin: 40px 0 0px 0;
}

.banner-section .banner-div .content-div .mouse-icon-div .link {
  display: -webkit-box;
  display: flex;
}

.banner-section img.banner-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.new-project {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(239, 245, 247, 0.5);
  z-index: 999;
}

.new-project .new-project-top-div {
  padding: 0;
  margin: 0;
}

.new-project .new-project-top-div .project-btn-link {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 78px;
  width: 100%;
}

.new-project .new-project-link-middle {
  padding: 0;
  margin: 0;
  height: calc( 100vh - 78px );
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.new-project .new-project-link-middle .transform-link {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  min-width: auto;
  color: #99A7A8;
  font-size: 18px;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  white-space: nowrap;
  width: 100%;
  min-width: 345px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  letter-spacing: 8px;
}

.new-project .new-project-link-middle .transform-link:hover,
.new-project .new-project-link-middle .transform-link:focus {
  text-decoration: none;
  color: #727272;
}

.case-study-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.case-study-section .case-study-div {
  padding: 100px 60px;
  margin: 0;
  background-color: #181818;
  position: relative;
}

.case-study-section .case-study-div .rect-div {
  position: absolute;
  left: -60px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  top: 0;
}

.case-study-section .case-study-div .case-study-root {
  padding: 0px 0 0 0;
  margin: 80px 0 30px 0;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.case-study-section .case-study-div .case-study-root .content-text-div {
  padding: 0 30px;
  max-width: 750px;
}

.case-study-section .case-study-div .case-study-root .content-text-div h3 {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 3.625rem;
  font-weight: 600;
  color: white;
  line-height: 72px;
}

.case-study-section .case-study-div .case-study-root .content-text-div .span-color1 {
  color: #FF2D3D;
}

.case-study-section .case-study-div .case-study-root .content-text-div .span-color2 {
  color: #239FF1;
}

.case-study-section .case-study-div .case-study-root .content-text-div .span-color3 {
  color: #F26820;
}

.case-study-section .case-study-div .case-study-root .content-text-div .span-color4 {
  color: #017363;
}

.case-study-section .case-study-div .case-study-root .content-text-div p {
  font-size: 16px;
}

.case-study-section .case-study-div .case-study-root .case-study-banner {
  padding: 0 0 0 95px;
  margin: 80px auto 0 auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.case-study-section .case-study-div .case-study-root .case-study-banner .case-study-cover {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  max-height: 795px;
  -o-object-fit: cover;
     object-fit: cover;
}

.case-study-section .case-study-div .case-study-root .case-study-banner .scroll-btn-div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 95px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
}

.case-study-section .case-study-div .case-study-root .case-study-banner .scroll-btn-div .scroll-btn {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 24px;
  color: rgba(239, 245, 247, 0.5);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  text-decoration: none;
  position: absolute;
  bottom: 95px;
}

.case-study-section .case-study-div .case-study-root .case-study-banner .scroll-btn-div .scroll-btn .arrow-down-circle {
  background-color: rgba(239, 245, 247, 0.5);
  height: 53px;
  width: 53px;
  margin: 0 0 0 30px;
}

.case-study-section .case-study-div .slider-tab-fixed {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 400px;
  left: 140px;
  z-index: 333;
}

.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  list-style: none;
}

.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs .slider-link {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: black;
  border-radius: 100%;
  color: white;
  margin: 0 0 10px 0;
  text-decoration: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-weight: 500;
  font-size: 12px;
  border: none;
}

.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs .slider-link:hover,
.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs .slider-link:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}

.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs .slider-link.active {
  background-color: white;
  color: black;
}

.case-study-section .case-study-div .slider-tab-fixed .slider-list-tabs a.top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}

.case-study-section .case-study-div .case-study-root::before {
  content: "";
  display: -webkit-box;
  display: flex;
  height: calc( 100% - 170px );
  width: 45%;
  background-color: black;
  position: absolute;
  left: -60px;
}

.case-study-section .case-study-div span.common-inherit {
  font-style: normal;
  color: white;
}

.case-study-section .case-study-div .case-study-pattern2 .patter2-full {
  padding: 40px 0 0 240px;
}

.case-study-section .case-study-div .case-study-pattern2::before {
  content: "";
  display: -webkit-box;
  display: flex;
  height: 620px;
  width: calc(100% - 130px );
  background-color: black;
  position: absolute;
  right: -60px;
  left: auto;
}

.services-section {
  padding: 100px 0;
  margin: 0;
  position: relative;
}

.services-section .services-div {
  padding: 0;
}

.services-section .services-div .heading-div {
  max-width: 1000px;
}

.services-section .services-div .heading-div h2 {
  margin: 0 0 20px 0;
  font-size: 3.625rem;
  color: black;
}

.services-section .services-div .services-root {
  padding: 0;
  margin: 60px 0 0 0;
}

.services-section .services-div .services-root .services-box {
  padding: 40px;
  margin: 0;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 300px;
  display: -webkit-box;
  display: flex;
  border: 1px solid transparent;
}

.services-section .services-div .services-root .services-box .services-icons {
  padding: 0 15px;
  min-width: 110px;
  background-color: #EFF5F7;
  height: 110px;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
}

.services-section .services-div .services-root .services-box .services-content {
  width: calc(100% - 110px);
  padding: 0 20px 0 40px;
  margin: 0;
}

.services-section .services-div .services-root .services-box .services-content h4 {
  padding: 0;
  margin: 0px 0 10px 0;
  font-size: 21px;
  font-weight: 700;
  color: #181818;
}

.services-section .services-div .services-root .services-box .services-content p {
  font-size: 15px;
}

.services-section .services-div .services-root .services-box .services-content .link-box-div {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}

.services-section .services-div .services-root .services-box .services-content a.btn.btn-more {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #181818;
  letter-spacing: 0.5px;
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  .menubar-header {
    width: 100%;
    min-height: 78px;
  }

  .menubar-header .header-div {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    background-color: white;
  }

  .menubar-header .header-div .logo-div {
    width: 78px;
  }

  .menubar-header .header-div .nav-center-div {
    height: 78px;
    width: 78px;
    position: absolute;
    right: 0;
    background-color: rgba(239, 245, 247, 0.5);
  }

  .new-project {
    top: auto;
    right: 0;
    height: 50px;
    width: 100%;
    bottom: 0;
    min-height: 50px;
    display: -webkit-box;
    display: flex;
    background-color: #EFF5F7;
  }

  .new-project .new-project-top-div .project-btn-link {
    min-height: auto;
    width: auto;
    height: 50px;
  }

  .new-project .new-project-top-div .project-btn-link .arrow-right-circle {
    height: 35px;
    width: 35px;
    margin: 0 10px 0 10px;
  }

  .new-project .new-project-link-middle {
    height: 50px;
  }

  .new-project .new-project-link-middle .transform-link {
    -webkit-transform: none;
            transform: none;
    font-size: 16px;
    letter-spacing: 4px;
  }

  /* later */

  .case-study-section .case-study-div .slider-tab-fixed {
    display: none;
  }
}

